% if not 'popupFunctions' in vars:

NK.functions = NK.functions || {};
NK.functions.popup = NK.functions.popup || {};

NK.functions.popup.generatePopupMarkup = function (conf) {
  return function (feature) {
    var a = feature, i, j, k, l, markup = '', tmpMarkup = '';
    var test;
    var dict = {
      'content': {
        'stedsnummer:': 'stedsnummer'
      }
    };
    test = a.split("\n");
    if (test.length > 5) {
      markup += '<article style="overflow-y: auto; height:300px" >';
      a = feature.replace(/Layer/g, ",,Layer");
      a = a.split(",,");
      for (i = 0; i < a.length; ++i) {
        if (a[i].substring(0, 5) == "Layer") {
          //Layer
          tmpMarkup = '';
          var tmp = a[i].replace(/'/g, "").toLowerCase().split(" ");
          var tmpResp = {};
          markup += '<h4 class="h">Lag : ' + tmp[1].trim() + '</h4>';
          a[i] = a[i].replace(/Feature/g, ",,Feature");
          var f = a[i].split(",,");
          for (l = 0; l < f.length; ++l) {
            //feature
            if (f[l].substring(0, 7) == "Feature") {
              tmpMarkup += '<div class="featureInfo" style="display: table">';
              test = f[l].split("\n");
              try {
                for (j = 0, k = test.length - 1; j < k; j += 1) {
                  tmp = test[j].split(" = ");
                  if (tmp[1]) {
                    tmpResp[tmp[0].trim()] = tmp[1].replace(/'/g, "");
                  }
                  if (!!tmp[1]) {
                    tmpResp[tmp[0].trim()] = tmp[1].replace(/'/g, "");
                  }
                }
                for (var prop in dict['content']) {
                  tmpMarkup += '<p style="display: table-row;"><span class="prop" style="display: table-cell"></span><span class="value" style="display: table-cell">';
                  if (!!tmpResp[dict['content'][prop]]) {
                    if (!!dict['content'][prop]) {
                      if (dict['content'][prop] === 'stedsnummer') {
                        tmpMarkup += '<div class="externalToolbarLink"><a href="//faktaark.statkart.no/index.py?stedsnummer=' + tmpResp[dict['content'][prop]] + '" target="_blank">';
                        tmpMarkup += 'Meir info om : ' + tmpResp[dict['content'][prop]] + '</a></div></span></p>';
                      } else {
                        tmpMarkup += tmpResp[dict['content'][prop]] + '</span></p>';
                      }
                    } else {
                      tmpMarkup += '</span></p>';
                    }
                  } else {
                    if (typeof dict['content'][prop] === 'object') {
                      for (var internprop in dict['content'][prop]) {
                        tmpMarkup += tmpResp[internprop];
                        tmpMarkup += dict['content'][prop][internprop];
                      }
                    } else {
                      tmpMarkup += '</p>';
                    }
                  }
                }
              } catch (e) {
                //console.log(e);
              }
              tmpMarkup += '</div>';
            }
          }
          markup += tmpMarkup;
        }
      }
    } else {
      markup += '<article>';
      markup += "Vi har ingen data for dette punktet";
    }
    markup += '</article>';
    return markup;
  };
};
  NK.functions.popup.getFeatureSelector = function (M, markupGeneratorFunction, popupCloseFunction, options) {
  var featureSelector = options.selectControl;
  return function (feature) {
    var popup, 
        message, 
        mousePosition,
        featurePosition,
        popupPosition,
        offset = {},
        sameFidFeatures,
        xOffset,
        yOffset,
        i, j;

    if (feature.cluster) {
      return false;
    }

    if (NK.easyXDM && NK.easyXDM.socket) {
      // there is an active easyXDM socket - send feature data
      message = {
        cmd: 'featureSelected', 
        feature: feature.fid,
        attributes: feature.attributes,
        layer: feature.layer.shortid
      };
      NK.easyXDM.socket.postMessage(JSON.stringify(message));
    }

    if (feature.fid && feature.layer) {
      sameFidFeatures = feature.layer.getFeaturesByFid(feature.fid);
      for (i = 0, j = sameFidFeatures.length; i < j; i += 1) {
        feature.layer.selectedFeatures.push(sameFidFeatures[i]);
        this.highlight.apply(this, [sameFidFeatures[i]]);
      } 
    }

    // find out where to position the popup
    if (options && options.featureCentroidPosition) {
      featurePosition = feature.geometry.getBounds().getCenterLonLat();

      if (featurePosition) {
        xOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicXOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicXOffset || 0;
        xOffset += (feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicWidth || feature.layer.styleMap.styles['default'].defaultStyle.graphicWidth) / 2;
        yOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicYOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicYOffset || 0;

        if (xOffset || yOffset) {
          offset.x = -5;
          offset.y = -18;
          offset.addX = xOffset;
          offset.addY = yOffset;
        }
      }
    }

    mousePosition = map.getLonLatFromPixel((map.getControlsByClass('OpenLayers.Control.MousePosition')[0]).lastXy);
    popupPosition = featurePosition || mousePosition;

    M.panTo(popupPosition);

    popup = new OpenLayers.Popup.FramedSideAnchored(
      "nk-selected-coverage-map", 
      popupPosition,
      null,
      markupGeneratorFunction(feature),
      null, 
      true, 
      popupCloseFunction,
      offset,
      'selected-feature-popup'
    );

    popup.autoSize = true;
    feature.popup = popup;
    popup.feature = feature;
    M.addPopup(popup);
  
  };
};

NK.functions.popup.addConfiguredPopup = function (M, layer, popupConfig) {
  var generatePopupMarkup,
      onFeatureSelect,
      onFeatureUnselect,
      onPopupClose,
      selectControl;
      
  generatePopupMarkup = NK.functions.popup.generatePopupMarkup(popupConfig);
  onPopupClose = function (evt) {
    if (this.feature) {
      selectControl.unselect(this.feature);
    }
  };

  onFeatureSelect = NK.functions.popup.getFeatureSelector(M, generatePopupMarkup, onPopupClose, popupConfig);
  onFeatureUnselect = function (feature) {
      if (feature.popup) {
        feature.popup.feature = null;
        M.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
      }
  };

  selectControl = new OpenLayers.Control.SelectFeature(layer, {
      onUnselect: onFeatureUnselect,
      highlightOnly: true,
      autoActivate: true
  });
  selectControl.onSelect = OpenLayers.Function.bind(onFeatureSelect, selectControl);

  M.addControl(selectControl);
};

<% vars['popupFunctions']=True %>
%endif
