% if not 'popupFunctions' in vars:  

NK.functions = NK.functions || {};
NK.functions.popup = NK.functions.popup || {};

NK.functions.popup.generatePopupMarkup = function (conf) {
  return function (feature) {
    var a = feature, i, j, l, markup = '', tmpMarkup = '', test;
    var dict = {
      'pgs_stasjoner': {
        'info': {
          'name': 'Fakta om CPOS stasjoner',
          'extra': 'CPOS stasjonene samler GNSS-data som sendes til kartverkets kontrollsenter. GNSS-dataene brukes bl.a. til drift av kartverkets posisjonstjenester. ',
          'link' : '<a href="http://kartverket.no/Posisjonstjenester/">Les mer om CPOS stasjoner</a>'
        },
        'content': {
          'Stasjonsnavn:': 'stasjonsnavn',
          'Stasjonsid:': 'stasjonsid',
          'Status:': 'status',
          'Nordkoordinat:': 'nordkoordinat',
          'Østkoordinat:': 'østkoordinat'
        }
      },
      'svenske_finske_stasjoner': {
        'info': {
          'name': 'Fakta om CPOS stasjoner',
          'extra': 'CPOS stasjonene samler GNSS-data som sendes til kartverkets kontrollsenter. GNSS-dataene brukes bl.a. til drift av kartverkets posisjonstjenester. ',
          'link' : '<a href="http://kartverket.no/Posisjonstjenester/">Les mer om CPOS stasjoner</a>'
        },
        'content': {
          'Stasjonsnavn:': 'stasjonsnavn',
          'Stasjonsid:': 'stasjonsid',
          'Status:': 'status',
          'Nordkoordinat:': 'nordkoordinat',
          'Østkoordinat:': 'østkoordinat'
        }
      },
      'niv_fastmerker': {
        'info': {
          'name': 'Fakta om Fastmerker',
          'extra': 'Koordinatbestemte fastmerker er markert i terrenget med metallbolter som vanligvis er satt ned i fast fjell. Fastmerkene er inndelt i Stamnett, landsnett, trekantpunkter og høydefastmerker.',
          'link': '<a href="http://www.kartverket.no/Kunnskap/Kart-og-kartlegging/Referanseramme/De-koordinatbestemte-fastmerkene">Les mer om Fastmerker</a>'
        },
        'content': {
          //'ogc_fid:': 'ogc_fid',
          'Punktnummer:': 'punktnummer',
          'Punktnavn:': 'punktnavn',
          'Nord:': 'nord',
          'Øst:': 'øst',
          'Sone:': 'sone',
          'Høyde_nn2000:': 'høyde_nn2000',
          'Høyde_nn1954:': 'høyde_nn1954',
          'Ellipsoidisk_høyde:': 'ellipsoidisk_høyde',
          'Punkttype:': 'punkttype',
          'Underlag:': 'underlag',
          'Kvalitet_nn1954:': 'kvalitet_nn1954',
          'Kvalitet_grunnriss:': 'kvalitet_grunnriss',
          'Status:': 'status',
          'Status_år:': 'status_år',
          'Beskrivelse:': 'beskrivelse'
          //'Bilde:': 'bilde'
        }
      },
      'trekantpunkt': {
        'info': {
          'name': 'Fakta om Fastmerker',
          'extra': 'Koordinatbestemte fastmerker er markert i terrenget med metallbolter som vanligvis er satt ned i fast fjell. Fastmerkene er inndelt i Stamnett, landsnett, trekantpunkter og høydefastmerker.',
          'link': '<a href="http://www.kartverket.no/Kunnskap/Kart-og-kartlegging/Referanseramme/De-koordinatbestemte-fastmerkene">Les mer om Fastmerker</a>'
        },
        'content': {
          'Punktnummer:': 'punktnummer',
          'Punktnavn:': 'punktnavn',
          'Nord:': 'nord',
          'Øst:': 'øst',
          'Sone:': 'sone',
          'Høyde_nn2000:': 'høyde_nn2000',
          'Høyde_nn1954:': 'høyde_nn1954',
          'Ellipsoidisk_høyde:': 'ellipsoidisk_høyde',
          'Punkttype:': 'punkttype',
          'Underlag:': 'underlag',
          'Kvalitet_nn1954:': 'kvalitet_nn1954',
          'Kvalitet_grunnriss:': 'kvalitet_grunnriss',
          'Status:': 'status',
          'Status_år:': 'status_år',
          'Beskrivelse:': 'beskrivelse'
        }
      },
      'stamnettpunkt': {
        'info': {
          'name': 'Fakta om Fastmerker',
          'extra': 'Koordinatbestemte fastmerker er markert i terrenget med metallbolter som vanligvis er satt ned i fast fjell. Fastmerkene er inndelt i Stamnett, landsnett, trekantpunkter og høydefastmerker.',
          'link': '<a href="http://www.kartverket.no/Kunnskap/Kart-og-kartlegging/Referanseramme/De-koordinatbestemte-fastmerkene">Les mer om Fastmerker</a>'
        },
        'content': {
          'Punktnummer:': 'punktnummer',
          'Punktnavn:': 'punktnavn',
          'Nord:': 'nord',
          'Øst:': 'øst',
          'Sone:': 'sone',
          'Høyde_nn2000:': 'høyde_nn2000',
          'Høyde_nn1954:': 'høyde_nn1954',
          'Ellipsoidisk_høyde:': 'ellipsoidisk_høyde',
          'Punkttype:': 'punkttype',
          'Underlag:': 'underlag',
          'Kvalitet_nn1954:': 'kvalitet_nn1954',
          'Kvalitet_grunnriss:': 'kvalitet_grunnriss',
          'Status:': 'status',
          'Status_år:': 'status_år',
          'Beskrivelse:': 'beskrivelse'
        }
      },
      'landsnettpunkt': {
        'info': {
          'name': 'Fakta om Fastmerker',
          'extra': 'Koordinatbestemte fastmerker er markert i terrenget med metallbolter som vanligvis er satt ned i fast fjell. Fastmerkene er inndelt i Stamnett, landsnett, trekantpunkter og høydefastmerker.',
          'link': '<a href="http://www.kartverket.no/Kunnskap/Kart-og-kartlegging/Referanseramme/De-koordinatbestemte-fastmerkene">Les mer om Fastmerker</a>'
        },
        'content': {
          'Punktnummer:': 'punktnummer',
          'Punktnavn:': 'punktnavn',
          'Nord:': 'nord',
          'Øst:': 'øst',
          'Sone:': 'sone',
          'Høyde_nn2000:': 'høyde_nn2000',
          'Høyde_nn1954:': 'høyde_nn1954',
          'Ellipsoidisk_høyde:': 'ellipsoidisk_høyde',
          'Punkttype:': 'punkttype',
          'Underlag:': 'underlag',
          'Kvalitet_nn1954:': 'kvalitet_nn1954',
          'Kvalitet_grunnriss:': 'kvalitet_grunnriss',
          'Status:': 'status',
          'Status_år:': 'status_år',
          'Beskrivelse:': 'beskrivelse'
        }
      }
    };

    test = a.split("\n");
    if (test.length > 5) {
      markup += '<article style="overflow-y: auto; height:300px" >';
      a = feature.replace(/Layer/g, ",,Layer");
      a = a.split(",,");
      for (i = 0; i < a.length; ++i) {
        if (a[i].substring(0, 5) == "Layer") {
          //Layer
          tmpMarkup = '';
          var tmp = a[i].replace(/'/g, "").toLowerCase().split(" ");
          var dictTmp = dict[tmp[1].trim()];
          var tmpResp = [];
          markup += '<h1 class="h">' + dictTmp['info']['name'] + '</h1>';
          markup += '<span>' + dictTmp['info']['extra'] + '<span>';
          markup += '<div class="externalToolbarLink">' + dictTmp['info']['link'] + '</div>';
          markup += '<h1 class="h">Lag : ' + tmp[1].trim() + '</h1>';
          var f = a[i].replace(/Feature/g, ",,Feature");
          f = f.split(",,");
          for (l = 0; l < f.length; l++) {
            //feature
            if (f[l].substring(0, 7) == "Feature") {
              tmpMarkup += '<div class="featureInfo" style="display: table; border-top: 1px solid;">';
              try {
                tmp = f[l].split(":");
                tmp = tmp[1].split('\'\n');

                for (j = 0; j < tmp.length; j++) {
                  var keyValuePair = tmp[j].trim();
                  keyValuePair = keyValuePair.replace(/'/g, "").split(' = ');
                  if (keyValuePair[1]) {
                    tmpResp[keyValuePair[0]] = keyValuePair[1];
                  }
                }

                for (var prop in dictTmp['content']) {
                  tmpMarkup += '<p style="display: table-row;"><span class="prop" style="display: table-cell;padding-right: 20px;">' + prop + '</span><span class="value" style="display: table-cell">';
                  if (!!tmpResp[dictTmp.content[prop]]) {
                    if (!!dictTmp.content[prop]) {
                      tmpMarkup += tmpResp[dictTmp.content[prop]];
                    }
                    tmpMarkup += '</span></p>';
                  } else {
                    if (typeof dictTmp.content[prop] === 'object') {
                      for (var internprop in dictTmp.content[prop]) {
                        tmpMarkup += tmpResp[internprop] + dictTmp.content[prop][internprop];
                      }
                    } else {
                      tmpMarkup += '</p>';
                    }
                  }
                }
              } catch (e) {
              }
              tmpMarkup += '</div>';
            }
          }
          markup += tmpMarkup;
        }
      }
    } else {
      markup += '<article>Vi har ingen data for dette punktet';
    }
    markup += '</article>';
    return markup;
  };

};

NK.functions.popup.getFeatureSelector = function (M, markupGeneratorFunction, popupCloseFunction, options) {
  var featureSelector = options.selectControl;
  return function (feature) {
    var popup, 
        message, 
        mousePosition,
        featurePosition,
        popupPosition,
        offset = {},
        sameFidFeatures,
        xOffset,
        yOffset,
        i, j;

    if (feature.cluster) {
      return false;
    }

    if (NK.easyXDM && NK.easyXDM.socket) {
      // there is an active easyXDM socket - send feature data
      message = {
        cmd: 'featureSelected', 
        feature: feature.fid,
        attributes: feature.attributes,
        layer: feature.layer.shortid
      };
      NK.easyXDM.socket.postMessage(JSON.stringify(message));
    }

    if (feature.fid && feature.layer) {

      sameFidFeatures = feature.layer.getFeaturesByFid(feature.fid);
      for (i = 0, j = sameFidFeatures.length; i < j; i += 1) {
        feature.layer.selectedFeatures.push(sameFidFeatures[i]);

        this.highlight.apply(this, [sameFidFeatures[i]]);
      } 
    }

    // find out where to position the popup
    if (options && options.featureCentroidPosition) {
      featurePosition = feature.geometry.getBounds().getCenterLonLat();

      if (featurePosition) {
        xOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicXOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicXOffset || 0;
        xOffset += (feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicWidth || feature.layer.styleMap.styles['default'].defaultStyle.graphicWidth) / 2;
        yOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicYOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicYOffset || 0;

        if (xOffset || yOffset) {
          offset.x = -5;
          offset.y = -18;
          offset.addX = xOffset;
          offset.addY = yOffset;
        }
      }
    }

    mousePosition = map.getLonLatFromPixel((map.getControlsByClass('OpenLayers.Control.MousePosition')[0]).lastXy);
    popupPosition = featurePosition || mousePosition;

    M.panTo(popupPosition);

    popup = new OpenLayers.Popup.FramedSideAnchored(
      "nk-selected-coverage-map", 
      popupPosition,
      null,
      markupGeneratorFunction(feature),
      null, 
      true, 
      popupCloseFunction,
      offset,
      'selected-feature-popup'
    );

    popup.autoSize = true;
    feature.popup = popup;
    popup.feature = feature;
    M.addPopup(popup);
  
  };
};

NK.functions.popup.addConfiguredPopup = function (M, layer, popupConfig) {

  var generatePopupMarkup,
      onFeatureSelect,
      onFeatureUnselect,
      onPopupClose,
      selectControl;
      
  generatePopupMarkup = NK.functions.popup.generatePopupMarkup(popupConfig);

  onPopupClose = function (evt) {
    if (this.feature) {
      selectControl.unselect(this.feature);
    }
  };

  onFeatureSelect = NK.functions.popup.getFeatureSelector(M, generatePopupMarkup, onPopupClose, popupConfig);

  onFeatureUnselect = function (feature) {
      if (feature.popup) {
        feature.popup.feature = null;
        M.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
      }
  };

  selectControl = new OpenLayers.Control.SelectFeature(layer, {
      onUnselect: onFeatureUnselect,
      highlightOnly: true,
      autoActivate: true
  });
  selectControl.onSelect = OpenLayers.Function.bind(onFeatureSelect, selectControl);

  M.addControl(selectControl);

};

<% vars['popupFunctions']=True %>
%endif
