% if not 'popupFunctions' in vars:  

NK.functions = NK.functions || {};
NK.functions.popup = NK.functions.popup || {};

NK.functions.popup.generatePopupMarkup = function (conf) {
  return function (feature) {
    var a = feature, i,j,k, l, markup = '', tmpMarkup = '';
    var test;
    var nrlDict = {
      'alle_linjehindre': {
        'info': {
          'name': '',
          'extra': 'Linjehinder'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'alle_linjepunkthindre': {
        'info': {
          'name': '',
          'extra': 'Endepunkt, knekkpunkt eller mast/stolpe tilknyttet linjehinder'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'alle_punkthindre': {
        'info': {
          'name': '',
          'extra': 'Punkthinder'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'andre_linjer_60m_og_over': {
        'info': {
          'name': '',
          'extra': 'Linjehinder som ikke er kraftledning, med st&oslashrste h&oslashyde over underliggende overflate 60 meter eller mer.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'andre_linjer_mellom_40m_60m': {
        'info': {
          'name': '',
          'extra': 'Linjehinder som ikke er kraftledning, med st&oslashrste h&oslashyde over underliggende overflate mellom 40 og 60 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'andre_linjer_under_40m': {
        'info': {
          'name': '',
          'extra': 'Linjehinder som ikke er kraftledning, med st&oslashrste h&oslashyde over underliggende overflate under 40 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'andre_linjer_uten_hoyde': {
        'info': {
          'name': '',
          'extra': 'Linjehinder som ikke er kraftledning, der st&oslashrste h&oslashyde over underliggende overflate er ukjent.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftledning_60m_og_over': {
        'info': {
          'name': '',
          'extra': 'Kraftledning med st&oslashrste h&oslashyde over underliggende overflate 60 meter eller mer.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftledning_mellom_40m_60m': {
        'info': {
          'name': '',
          'extra': 'Kraftledning med st&oslashrste h&oslashyde over underliggende overflate mellom 40 og 60 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftledning_under_40m': {
        'info': {
          'name': '',
          'extra': 'Kraftledning med st&oslashrste h&oslashyde over underliggende overflate lavere enn 40 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftledning_uten_hoyde':{
        'info': {
          'name': '',
          'extra': 'Kraftledning der st&oslashrste h&oslashyde over underliggende overflate er ukjent.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftstolpe_60m_og_over':{
        'info': {
          'name': '',
          'extra': 'Kraftstolpe med vertikal utstrekning 60 meter eller mer.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftstolpe_mellom_40m_60m':{
        'info': {
          'name': '',
          'extra': 'Kraftstolpe med vertikal utstrekning mellom 40 og 60 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftstolpe_under_40m':{
        'info': {
          'name': '',
          'extra': 'Kraftstolpe med vertikal utstrekning lavere enn 40 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'kraftstolpe_uten_hoyde':{
        'info': {
          'name': '',
          'extra': 'Kraftstolpe der vertikal utstrekning er ukjent.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'linjepunkt_60m_og_over':{
        'info': {
          'name': '',
          'extra': 'Endepunkt, knekkpunkt eller mast/stolpe tilknyttet et linjehinder som ikke er en kraftledning, med vertikal utstrekning 60 meter eller mer.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'linjepunkt_mellom_40m_60m':{
        'info': {
          'name': '',
          'extra': 'Endepunkt, knekkpunkt eller mast/stolpe tilknyttet et linjehinder som ikke er en kraftledning, med vertikal utstrekning mellom 40 og 60 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'linjepunkt_under_40m':{
        'info': {
          'name': '',
          'extra': 'Endepunkt, knekkpunkt eller mast/stolpe tilknyttet et linjehinder som ikke er en kraftledning, med vertikal utstrekning lavere enn 40 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'linjepunkt_uten_hoyde':{
        'info': {
          'name': '',
          'extra': 'Endepunkt, knekkpunkt eller mast/stolpe tilknyttet et linjehinder som ikke er en kraftledning, med ukjent vertikal utstrekning.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'punkthindre_60m_og_over':{
        'info': {
          'name': '',
          'extra': 'Punkthinder med vertikal utstrekning 60 meter eller mer.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'punkthindre_mellom_40m_60m':{
        'info': {
          'name': '',
          'extra': 'Punkthinder med vertikal utstrekning mellom 40 og 60 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'punkthindre_under_40m':{
        'info': {
          'name': '',
          'extra': 'Punkthinder med vertikal utstrekning lavere enn 40 meter.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      },
      'punkthindre_uten_hoyde':{
        'info': {
          'name': '',
          'extra': 'Punkthinder der vertikal utstrekning er ukjent.'
        },
        'content': {
          'NRL-ID:': 'nrl-id',
          'Navn:': 'navn',
          'Vertikal utstrekning:': 'hoyde_over_bakken',
          'Lyssetting:': 'lyssetting',
          'Status:': 'status',
          'Oppdateringsdato:': 'oppdateringsdato',
          'Hindertype:': 'hindertype',
          'Datafangstdato:': 'datafangstdato',
          'Merking:': 'merking'
        }
      }
    };
    var statusDict = {
      'E':'Eksisterende',
      'P':'Planlagt',
      'O':'Ombygd',
      'U':'Under arbeid'
    }
    test = a.split("\n");
    if (test.length > 5) {
      markup += '<article style="overflow-y: auto; height:380px" >';
      a= feature.replace(/Layer/g,",,Layer");
      a = a.split(",,");
      for (i = 0; i < a.length; ++i) {
        if (a[i].substring(0,5) == "Layer") {
          //Layer
          tmpMarkup = '';
          var tmp = a[i].replace(/'/g, "").toLowerCase().split(" ");
          var nrlDictTmp = nrlDict[tmp[1].trim()];
          var tmpResp = [];
          var nrlDictResponse = [];
          //markup += '<h1 class="h">' + nrlDictTmp['info']['name'] + '</h1>';
          markup += '<h1 class="h">' + nrlDictTmp['info']['extra'] + '</h1>';
          a[i] = a[i].replace(/Feature/g,",,Feature");
          var f = a[i].split(",,");
          for (l = 0; l < f.length; ++l) {
            //feature
            if (f[l].substring(0, 7) == "Feature") {
              tmpMarkup += '<div>';
              test = f[l].split("\n");
              try {
                for (j = 0, k = test.length - 1; j < k; j += 1) {
                  tmp = test[j].split(" = ");
                  if (tmp[1])
                    tmpResp[tmp[0].trim()] = tmp[1].replace(/'/g, "");
                  if (!!tmp[1]) {
                    nrlDictResponse[tmp[0].trim()] = tmp[1].replace(/'/g, "");
                  }
                }
                for (var prop in nrlDictTmp['content']) {
                  tmpMarkup += '<p>' + prop + ' ';
                  if (!!tmpResp[nrlDictTmp['content'][prop]]) {
                    if (!!nrlDictTmp['content'][prop]) {
                      tmpMarkup += tmpResp[nrlDictTmp['content'][prop]] + '</p>';
                    } else {
                      tmpMarkup += '</p>';
                    }
                  } else {
                    if (typeof nrlDictTmp['content'][prop] === 'object') {
                      for (var internprop in nrlDictTmp['content'][prop]) {
                        tmpMarkup += tmpResp[internprop];
                        tmpMarkup += nrlDictTmp['content'][prop][internprop];
                      }
                    } else {
                      tmpMarkup += '</p>';
                    }
                  }
                }
              } catch (e) {
                 console.log(e);
              }
              tmpMarkup += '</div>';
            }
          }
          markup += tmpMarkup;
        }
      }
    } else {
      markup += '<article>';
      markup += "Ingen data for denne punkt";
    }
    markup += '<div class="externalToolbarLink"><a href="http://www.statkart.no/Kart/Nasjonalt-register-over-luftfartshindre/"><br>Les mer om Nasjonalt register over luftfartshindre</a></div>';
    markup += '</article>';
    return markup;  };
};

NK.functions.popup.getFeatureSelector = function (M, markupGeneratorFunction, popupCloseFunction, options) {
  var featureSelector = options.selectControl;
  return function (feature) {
    var popup, 
        message, 
        mousePosition,
        featurePosition,
        popupPosition,
        offset = {},
        sameFidFeatures,
        xOffset,
        yOffset,
        i, j;

    if (feature.cluster) {
      return false;
    }

    if (NK.easyXDM && NK.easyXDM.socket) {
      // there is an active easyXDM socket - send feature data
      message = {
        cmd: 'featureSelected', 
        feature: feature.fid,
        attributes: feature.attributes,
        layer: feature.layer.shortid
      };
      NK.easyXDM.socket.postMessage(JSON.stringify(message));
    }

    if (feature.fid && feature.layer) {

      sameFidFeatures = feature.layer.getFeaturesByFid(feature.fid);
      for (i = 0, j = sameFidFeatures.length; i < j; i += 1) {
        feature.layer.selectedFeatures.push(sameFidFeatures[i]);

        this.highlight.apply(this, [sameFidFeatures[i]]);
      } 
    }

    // find out where to position the popup
    if (options && options.featureCentroidPosition) {
      featurePosition = feature.geometry.getBounds().getCenterLonLat();

      if (featurePosition) {
        xOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicXOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicXOffset || 0;
        xOffset += (feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicWidth || feature.layer.styleMap.styles['default'].defaultStyle.graphicWidth) / 2;
        yOffset = feature.layer.styleMap.styles[feature.renderIntent].defaultStyle.graphicYOffset || feature.layer.styleMap.styles['default'].defaultStyle.graphicYOffset || 0;

        if (xOffset || yOffset) {
          offset.x = -5;
          offset.y = -18;
          offset.addX = xOffset;
          offset.addY = yOffset;
        }
      }
    }

    mousePosition = map.getLonLatFromPixel((map.getControlsByClass('OpenLayers.Control.MousePosition')[0]).lastXy);
    popupPosition = featurePosition || mousePosition;

    M.panTo(popupPosition);

    popup = new OpenLayers.Popup.FramedSideAnchored(
      "nk-selected-coverage-map", 
      popupPosition,
      null,
      markupGeneratorFunction(feature),
      null, 
      true, 
      popupCloseFunction,
      offset,
      'selected-feature-popup'
    );

    popup.autoSize = true;
    feature.popup = popup;
    popup.feature = feature;
    M.addPopup(popup);
  
  };
};

NK.functions.popup.addConfiguredPopup = function (M, layer, popupConfig) {

  var generatePopupMarkup,
      onFeatureSelect,
      onFeatureUnselect,
      onPopupClose,
      selectControl;
      
  generatePopupMarkup = NK.functions.popup.generatePopupMarkup(popupConfig);

  onPopupClose = function (evt) {
    if (this.feature) {
      selectControl.unselect(this.feature);
    }
  };

  onFeatureSelect = NK.functions.popup.getFeatureSelector(M, generatePopupMarkup, onPopupClose, popupConfig);

  onFeatureUnselect = function (feature) {
      if (feature.popup) {
        feature.popup.feature = null;
        M.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
      }
  };

  selectControl = new OpenLayers.Control.SelectFeature(layer, {
      onUnselect: onFeatureUnselect,
      highlightOnly: true,
      autoActivate: true
  });
  selectControl.onSelect = OpenLayers.Function.bind(onFeatureSelect, selectControl);

  M.addControl(selectControl);

};

<% vars['popupFunctions']=True %>
%endif
