var NK = NK || {};
NK.functions = NK.functions || {};

NK.functions.addedLayers = function () {
  var re = /[+]\w*/;
  var results = re.exec(window.location.href);
  if (results == null) {
    return null;
  } else {
    return results[0].substr(1);
  }
};

NK.addedLayer = NK.functions.addedLayers();

NK.functions.createLegend = function () {
  var legendDiv = OpenLayers.Util.getElement('legendBox');
  if (!!legendDiv) {
    legendDiv.innerHTML = "";
    // create getLegendGraphic request for all active layers
    for (var i = 1; i < map.layers.length; i++) {
      if (map.layers[i].visibility) {
        var legendURL = map.layers[i].getFullRequestString({
          REQUEST: "GetLegendGraphic",
          EXCEPTIONS: "application/vnd.ogc.se_inimage",
          FORMAT: "image/png",
          SERVICE: "WMS",
          VERSION: "1.1.1",
          LAYER: map.layers[i].params.LAYERS
        });
        legendDiv.innerHTML += "<img src=" + legendURL + "><br>";
      }
    }
  }
};

NK.functions.updateHistory = function (evt) {
  var center,
      zoom,
      i,
      layer,
      uid,
      search,
      searchInput;

  if (!!map) {
    center = map.getCenter();
    zoom   = map.getZoom();

    var mouseCursor= document.getElementById('map').style;
    mouseCursor.cursor = 'default';

    if (!!center && !!zoom) {
      uid = zoom + "/" + Math.round(center.lon) + "/" + Math.round(center.lat); 
      /* 1m precision ought to be enough for everyone --BG */

      if (!!NK.initLayers && !!map.layers) { 
        for (i in map.layers) {
          if (map.layers.hasOwnProperty(i)) {
            layer = map.layers[i];
            if(layer.shortid === NK.addedLayer && typeof layer.shortid !== 'undefined'){
              layer.setVisibility(true);
              NK.addedLayer = null;
            }
            if (!layer.isBaseLayer) {
              if (!layer.isUrlDataLayer) {
                if (layer.visibility) {
                  if ($.inArray(layer.shortid, NK.initLayers) === -1 && typeof layer.shortid !== 'undefined') {
                    uid += "/+" + layer.shortid;
                    mouseCursor.cursor = 'pointer'
                  }
                } else {
                  if ($.inArray(layer.shortid, NK.initLayers) > -1 && typeof layer.shortid !== 'undefined') {
                    uid += "/-" + layer.shortid;
                  }
                }
              } else {
                if (layer.isDrawing) {
                  uid += '/l/drawing/' + encodeURIComponent(layer.url) + '/' + layer.epsgCode;
                } else {
                  uid += '/l/geojson/' + encodeURIComponent(layer.url) + '/' + layer.epsgCode;
                }
              }
            }
          }
        }
      }
    }
    searchInput = document.getElementById('searchInput');
    if (!!searchInput) {
      search = searchInput.value;
      if (history.replaceState) {
        if (!!search) {
          if (!!history.state) {
            if (history.state.hash != uid) {
              history.replaceState({'search': 'sok=' + search, 'hash': uid}, document.title, '?sok=' + encodeURIComponent(search) + '#' + uid);
            }
          } else {
            history.replaceState({'search': 'sok=' + search, 'hash': uid}, document.title, '?sok=' + encodeURIComponent(search) + '#' + uid);
          }
        } else {
          if (!!history.state) {
            if (history.state.hash != uid) {
              history.replaceState({'hash': uid}, document.title, '#' + uid);
            }
          } else {
            history.replaceState({'hash': uid}, document.title, '#' + uid);
          }
        }
      } else {
        window.location.hash = uid;
      }
    }
    NK.functions.updateScaleLine();
    NK.functions.createLegend();
  }
};

NK.mapEventListeners = NK.mapEventListeners || {};
NK.mapEventListeners.moveend = NK.functions.updateHistory;
NK.mapEventListeners.zoomend = NK.functions.updateHistory;
NK.mapEventListeners.changelayer = NK.functions.updateHistory;
NK.mapEventListeners.changebaselayer = NK.functions.updateHistory;

NK.functions.updateScaleLine = function () {
    var layers, scaleLine;
    if (!!self.map){
        layers = self.map.getLayersByName("Sj&oslash;")[0];
        if (!!layers) {
            if(layers.getVisibility()) {
                //NK.functions.addControlToContext(new OpenLayers.Control.ScaleLine({bottomOutUnits:'nm '}));
                scaleLine = map.getControlsByClass('OpenLayers.Control.ScaleLine');
                if (scaleLine.length > 0){
                    scaleLine[0].bottomOutUnits = 'nm';
                    scaleLine[0].bottomInUnits = 'nm';
                    scaleLine[0].eBottom.style.visibility = "visible";
                }
            } else {
                scaleLine = map.getControlsByClass('OpenLayers.Control.ScaleLine');
                if (scaleLine.length > 0){
                    scaleLine[0].bottomOutUnits = '';
                    scaleLine[0].bottomInUnits = '';
                    scaleLine[0].eBottom.style.visibility = "hidden";
                }
            }
        }
    }
}
