<script src="js/splashscreen.js"></script>
<div class="splashscreen">
    <div class="widget beta-info">
        <a href="#utenbetainfo" class="close"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" class="icon close" preserveAspectRatio="xMidYMid meet"><rect x="1.5" y="1.5" width="33" height="33" /><path class="cross" d="M9,9l18,18M27,9l-18,18"/></svg>Lukk</a>
        <h2>Nye Norgeskart.no</h2>
        <hr>
        <p class="ingress">Vi arbeider med &aring; forbedre kartvisningsl&oslash;sningen v&aring;r. L&oslash;sningen du kikker p&aring; n&aring; er under utvikling - betaversjon.</p>
        <p>Funksjonaliteten vil lanseres i tre faser. I f&oslash;rste fase har vi prioritert grunnfunksjonalitet. Mer kommer senere!</p>
        <p>Gammel l&oslash;sning er fremdeles tilgjengelig via lenken under. Vi vil gjerne vite hva du synes om den nye l&oslash;sningen p&aring; <a href="http://labs.kartverket.no/norgeskart-i-beta/" class="labs-link">labs.kartverket.no</a>!</p>
        <hr>
        <p><a href="#utenbetainfo" class="splash-button use-beta-button large-splash-button"><span>Pr&oslash;v v&aring;r betaversjon av norgeskart.no</span></a></p>
        <p><a href="//www.norgeskart.no/adaptive2/default.aspx?gui=1&lang=2" class="splash-button large-splash-button" target="_blank"><span>G&aring; til gammel Norgeskartl&oslash;sning</span></a></p>
    </div>
    <div class="overlay"></div>
</div>