<script src="js/splashscreen.js"></script>
<div class="splashscreen">
    <div class="widget beta-info">
        <a href="javascript://" class="close">Lukk</a>
        <h2>Nye Norgeskart.no</h2>
        <hr>
        <p class="ingress">Vi arbeider med &aring; forbedre kartvisningsl&oslash;sningen v&aring;r. L&oslash;sningen du kikker p&aring; n&aring; er under utvikling - betaversjon.</p>
        <p>Funksjonaliteten vil lanseres i tre faser. I f&oslash;rste fase har vi prioritert grunnfunksjonalitet. Mer kommer senere!</p>
        <p>Gammel l&oslash;sning er fremdeles tilgjengelig via lenken under. Vi vil gjerne vite hva du synes om den nye l&oslash;sningen p&aring; labs.kartverket.no!</p>
        <hr>
        <p><a href="http://www.norgeskart.no/adaptive2/default.aspx?gui=1&lang=2" class="splash-button large-splash-button" target="_blank"><span>G&aring; til gammel Norgeskartl&oslash;sning</span></a></p>
        <p><a href="http://labs.kartverket.no" class="splash-button large-splash-button" target="_blank"><span>Gi tilbakemelding p&aring; betal&oslash;sningen</span></a></p>
    </div>
    <div class="overlay"></div>
</div>