 var abasStyle = new OpenLayers.StyleMap({
        'default': new OpenLayers.Style({
          strokeWidth: 2,
          strokeColor: "#B487FE",
          fillOpacity: 0,
          graphicZIndex: 0,

          label : "${"${n}"}",
          fontColor: "#B487FE",
          fontSize: "12px",
          fontFamily: "Courier New, monospace",
          fontWeight: "bold",
          labelAlign: "cm",
          labelOutlineColor: "white",
          labelOutlineWidth: 5

        }, {
          rules: [
            new OpenLayers.Rule({
              maxScaleDenominator: ${vars['labelScaleLimit']},
              symbolizer: {
                label: "${"${n}"}"
              }
            }),
            new OpenLayers.Rule({
              minScaleDenominator: ${vars['labelScaleLimit']},
              symbolizer: {
                label: ""
              }
            })
          ]
        }),
        'temporary': new OpenLayers.Style({
          strokeWidth: 4,
          fillColor  : "#DFCCFF",
          fontColor  : "#DFCCFF",
          strokeColor: "#DFCCFF",
          fillOpacity: 0.2,
          strokeWidth: 3,
          graphicZIndex: 1
        })
      });

