<%doc>
description: default style for drawings and tracks in Norgeskart
params: 
  getLabelAlign: these are not actually parameters to be set.
  getLabel:
  getLabelXOffset:
  getStrokeDashStyle:
  getLabelAlign:
  getLabel:
  getLabelXOffset:
</%doc>
% if not 'styles.track' in vars:
NK.styles = NK.styles || {};
NK.styles.track = NK.styles.track = new OpenLayers.StyleMap({
	'default': new OpenLayers.Style({
	  strokeWidth: 5,
	  strokeColor  : "#0058a3",
	  fillOpacity: 0.4,
	  fillColor: "#0058a3",
	  graphicName: 'circle',
	  pointRadius: 6,
	  fontColor: "#0058a3",
	  fontSize: "16px",
	  fontFamily: "Arial, sans-serif",
	  fontWeight: "normal",
	  labelAlign: "${"${getLabelAlign}"}",
	  label: "${"${getLabel}"}",
	  labelXOffset: "${"${getLabelXOffset}"}",
	  labelYOffset: 0,
	  labelOutlineColor: "white",
	  labelOutlineWidth: 3	  
	},
	{
		context: {
			getLabel: function (feature) {
				return feature.attributes.label || '';
			},
			getLabelXOffset: function (feature) {
				return (feature.geometry && (feature.geometry.CLASS_NAME === 'OpenLayers.Geometry.Point')) ? 10 : 0;
			},
			getLabelAlign: function (feature) {
				return (feature.geometry && (feature.geometry.CLASS_NAME === 'OpenLayers.Geometry.Point')) ? 'lm' : 'cm';
			}

		}
	}),
	'temporary': new OpenLayers.Style({
	  strokeWidth: 5,
	  strokeColor  : "#0058a3",
	  fillOpacity: 0.4,
	  strokeDashstyle: "${"${getStrokeDashStyle}"}",
	  fillColor: "#0058a3",
	  pointRadius: 6
	},
	{
		context: {
			getStrokeDashStyle: function (feature) {
				return (feature.geometry.CLASS_NAME === 'OpenLayers.Geometry.Point') ? 'solid' : 'dash';
			}
		}
	}),
	'select': new OpenLayers.Style({
	  strokeWidth: 6,
	  strokeColor  : "#f058a3",
	  fillOpacity: 0.4,
	  fillColor: "#f058a3",
	  pointRadius: 5,
	  cursor: 'text',
	  fontColor: "#0058a3",
	  fontSize: "16px",
	  fontFamily: "Arial, sans-serif",
	  fontWeight: "normal",
	  labelAlign: "${"${getLabelAlign}"}",
	  label: "${"${getLabel}"}",
	  labelXOffset: "${"${getLabelXOffset}"}",
	  labelYOffset: 0,
	  labelOutlineColor: "white",
	  labelOutlineWidth: 3	  
	},
	{
		context: {
			getLabel: function (feature) {
				return feature.attributes.label || '';
			},
			getLabelXOffset: function (feature) {
				return (feature.geometry && (feature.geometry.CLASS_NAME === 'OpenLayers.Geometry.Point')) ? 10 : 0;
			},
			getLabelAlign: function (feature) {
				return (feature.geometry && (feature.geometry.CLASS_NAME === 'OpenLayers.Geometry.Point')) ? 'lm' : 'cm';
			}

		}
	})
});
<% vars['styles.track']=True %>
% endif
