<%doc>
description: utility function to set the hashstate according to the definition in template readURL
</%doc>
var NK = NK || {};
NK.functions = NK.functions || {};

NK.functions.updateHistory = function (evt) {
    var center,
        zoom,
        i,
        layer,
        uid,
        search,
        searchInput;

    if (!!map) {
        center = map.getView().getCenter();
        zoom = map.getView().getZoom();

        if (!!center && !!zoom) {
            uid = zoom + "/" + Math.round(center[0]) + "/" + Math.round(center[1]);

            map.getLayers().forEach(function(layer) {
                          if (!(layer.get('isBaseLayer') || layer.get('isHelper'))) {
                            if (!layer.get('isUrlDataLayer')) {
                                if (layer.getVisible()) {
                                  var id = layer.get('shortid');
                                        uid += "/+" + id;
                                }
                            } else if (layer.getVisible()) {
                                if (layer.get('type') == 'drawing') {
                                    uid += '/l/drawing/['+ layer.getSource().getUrl() +']';
                                } else if (layer.get('type') == 'geojson') {
                                    uid += '/l/geojson/['+ layer.getSource().getUrl() +']';
                                } else if (layer.get('type') == 'wms') {
                                    if (uid.indexOf(layer.getSource().getUrl())==-1) {
                                      uid += '/l/wms/[' + layer.getSource().getUrl() + ']';
                                    }
                                    var id = layer.getSource().getParams().LAYERS;
                                    if (id.indexOf("/")>-1) {
                                      uid += '/[+'+id+']';
                                    } else { 
                                      uid += '/+'+id;
                                    }
                                } else if (layer.get('type') == 'wfs') {
                                    if (uid.indexOf(layer.protocol.origUrl.trim())==-1) {
                                      uid += '/l/wfs/[' + layer.protocol.origUrl.trim() + ']';
                                    }
                                    var id = layer.protocol.featureType;
                                    if (id.indexOf("/")>-1) {
                                      uid += '/[+'+id+']';
                                    } else { 
                                      uid += '/+'+id;
                                    }
                                    for (var f in layer.selectedFeatures) {
                                      var centroid = layer.selectedFeatures[f].geometry.getCentroid();
                                      uid += "/!"+id+"!"+Math.round(centroid.x)+","+Math.round(centroid.y);
                                    }
                                }
                                NK.functions.verifyDataLayers(layer);
                                if (!!layer.dataUrl) {
                                  uid += '/d/'+layer.dataType+'/['+layer.dataUrl.trim()+']';
                                }
                            }
                          if (layer.getOpacity()<1.0) {
                            uid += "/o"+Math.floor(layer.getOpacity() * 100);
                          }
                        }
            });
            $.each(NK.util.getLayersBy('title','pekere'), function(i,layer) {
              $.each(layer.getSource().getFeatures(), function(i,marker) {
                var xy = marker.getGeometry().getCoordinates();
                uid += "/m/"+xy[0]+"/"+xy[1]+"/"+marker.get('name');
              });
            });
        }
        searchInput = document.getElementById('searchInput');
        if (!!searchInput) {
            search = searchInput.value;
        }
        if (history.replaceState) {
           if (!!search) {
              history.replaceState({'search': 'sok=' + search, 'hash': uid}, document.title, '?sok=' + encodeURIComponent(search) + '#' + uid);
           } else {
              history.replaceState({'hash': uid}, document.title, '#' + uid);
           }
        } else {
           window.location.hash = uid;
        }
    }
};
