(function (M, MP, P){
  var styleMap,
      layer,
      dataResponseHandler,
      highlightAllById,
      unhighlightAllById,
      selectControl;

  <%include file="/styles/dekning/sjo.html" />  

  <%block name="overrideStyles" />

  //dekningsoversikt - vector layer
  layer = new OpenLayers.Layer.Vector(
    "${name}",
    {
      shortid: "${id}",
      styleMap: styleMap,
      visibility: ${visible},
      layerGroup: "${layerGroup}",
      preferredBackground: "${preferredBackground}"
    }
  );

  dataResponseHandler = function(request) {
    var geojson_format, 
        features,
        feature,
        key;

    geojson_format = new OpenLayers.Format.GeoJSON({
      'internalProjection': MP,
      'externalProjection': P['4326'] 
    });
    features = geojson_format.read(request.responseText);
    features = features.sort(function (a,b) {
       // sort by area
      return b.geometry.getArea() - a.geometry.getArea();
    });
    for (key in features) {
      if (features.hasOwnProperty(key)) {
        feature = features[key];
        if (feature.fid.length < 4) {
          feature.attributes.nr = feature.fid;
          feature.attributes.vignett = '';
        } else {
          feature.attributes.nr = '';
          feature.attributes.vignett = feature.fid;
          feature.fid = feature.fid.slice(0, 3);
        }
      }
    }
    layer.addFeatures(features);
  };

  M.addLayer(layer);

  OpenLayers.Request.GET({
    url: "${url}",
    callback: dataResponseHandler
  });

  highlightAllById = function(element) {
    // highlight all elements with the same element.feature.fid;
    var ident = layer.getFeaturesByFid (element.feature.fid);
    $.each(ident, function(i, feature) {
      feature.renderIntent = "temporary";
      layer.drawFeature(feature);
    });
  };

  // un-highlight all elements with the same element.feature.fid;
  unhighlightAllById = function(element) {
    var ident = layer.getFeaturesByFid (element.feature.fid);

    $.each(ident, function(i, feature) {
      feature.renderIntent = "default";
      layer.drawFeature(feature);
    });
  };

  var highlightDekningCtrl = new OpenLayers.Control.SelectFeature(layer, {
    hover: true,
    multiple: true,
    highlightOnly: true,
    renderIntent: "temporary",
    eventListeners: {
        beforefeaturehighlighted: highlightAllById,
        featureunhighlighted: unhighlightAllById
    },
    autoActivate: true
  });
  map.addControl(highlightDekningCtrl);
  
  function onPopupClose(evt) {
      selectControl.unselect(NK.selectedCoverageMap);
      delete NK.selectedCoverageMap;
  }

  function projectionName(projectionNumber) {
    switch (projectionNumber) {
      case '8':
        return 'Mercator';
      case '16':
        return 'Gauss Kr\u00FCger';
      default:
        return '';  
    }
  }

  var datumNames = {
    '2': 'WGS84'
    // TODO: values for ED50 and NGO (see http://kartverket.no/en/Kart/Nautical-Charts/Nautical-Charts/) 
  };

  function generatePopupMarkup (feature) {
    var a  = feature.attributes;
    var mainMapFeature, i, j;
      var markup = '<article>';
      if (a.n && a.n !== 'NULL') {
        markup += '<h1 class="h">' + a.n + '</h1>';
      } 
      if (a.vignett) {
        var mainMapNumber = a.vignett.slice(0, 3);
        for (i = 0, j = feature.layer.features.length; i < j; i += 1) {
          if (feature.layer.features[i].attributes.nr === mainMapNumber) {
            mainMapFeature = feature.layer.features[i];
          }
        }
        if (mainMapFeature) {
          if (mainMapFeature.attributes.s !== a.s) {
            markup += OpenLayers.Lang.translate('Special in map');
          } else {
            markup += OpenLayers.Lang.translate('Vignette in map');
          }
           markup += ' ' + mainMapFeature.attributes.nr + ': ' + mainMapFeature.attributes.n;
        }
      }
      if (a.nr) {
        markup += '<p>' + OpenLayers.Lang.translate('Map number') + ': ' + a.nr + '</p>';
      }
      if (a.u) {
        markup += '<p>' + OpenLayers.Lang.translate('Latest print') + ': ' + a.u + '</p>';
      }
      if (a.d && datumNames[a.d]) {
        markup += '<p>' + OpenLayers.Lang.translate('Datum') + ': ' + datumNames[a.d] + '</p>';
      }
      if (a.p) {
        markup += '<p>' + OpenLayers.Lang.translate('Projection') + ': ' + projectionName(a.p) + '</p>';
      }
      if (a.s) {
        markup += '<p>' + OpenLayers.Lang.translate('Scale') + ': 1:' + a.s + '</p>';
      }
      markup += '</article>';
      return markup;
  }

  function onFeatureSelect (feature) {
    var i, 
        j, 
        mainMapNumber,
        message,
        vignettes = [],
        specials = [],
        a;

      if (NK.easyXDM && NK.easyXDM.socket) {
        // there is an active easyXDM socket - send feature data
        message = {
          cmd: 'featureSelected', 
          feature: feature.attributes,
          layer: feature.layer.shortid
        };

        if (feature.attributes.vignett) {
            mainMapNumber = feature.attributes.vignett.slice(0, 3);
            for (i = 0, j = feature.layer.features.length; i < j; i += 1) {
              if (feature.layer.features[i].attributes.nr === mainMapNumber) {
                message.mainMapFeature = feature.layer.features[i].attributes;
              }
            }
        } else {
            for (i = 0, j = feature.layer.features.length; i < j; i += 1) {
              a = feature.layer.features[i].attributes;
              if (a.vignett && a.vignett.indexOf(feature.attributes.nr) === 0) {
                // feature[i] is a special or vignette in the selected map
                
                if (feature.attributes.s === a.s) {
                  vignettes.push(a);
                } else {
                  specials.push(a);
                }
              }
            }
            if (specials.length > 0) {
              message.specials = specials;
            }
            if (vignettes.length > 0) {
              message.vignettes = vignettes;
            }
        }

        NK.easyXDM.socket.postMessage(JSON.stringify(message));
      } else {

        NK = NK || {};
        if (NK.selectedCoverageMap ) {
            selectControl.unselect(NK.selectedCoverageMap);
        }
        NK.selectedCoverageMap = feature;

        var mousePosition = map.getLonLatFromPixel((map.getControlsByClass('OpenLayers.Control.MousePosition')[0]).lastXy);
        M.setCenter(mousePosition);
        var popup = new OpenLayers.Popup.FramedSideAnchored("nk-selected-coverage-map", 
                                 mousePosition,
                                 null,
                                 generatePopupMarkup(feature),
                                 null, true, onPopupClose);
        popup.autoSize = true;
        feature.popup = popup;
        M.addPopup(popup);
      }
  }
  
  function onFeatureUnselect (feature) {
      if (feature.popup === NK.selectedCoverageMap) {
          NK.selectedCoverageMap = null;
      }
      M.removePopup(feature.popup);
      feature.popup.destroy();
      feature.popup = null;

  }

  selectControl = new OpenLayers.Control.SelectFeature(layer, {
      select: onFeatureSelect, 
      unselect: onFeatureUnselect,
      click: true,
      autoActivate: true
  });

  M.addControl(selectControl);

OpenLayers.Util.extend(OpenLayers.Lang.nb, {
  'Map number': 'Kartblad',
  'Latest print': 'Siste trykk',
  'Datum': 'Datum',
  'Projection': 'Projeksjon',
  'Scale': 'M&aring;lestokk',
  'Special in map': 'Spesiale i kartblad',
  'Vignette in map': 'Vignett i kartblad'
});

}(map, mapProj, proj));
