(function (M, MP, P){
  var styleMap,
      layer,
      dataResponseHandler,
      request,
      selectHandler,
      highlightAllById,
      unhighlightAllById;

  <%include file="/styles/dekning/sjo.html" />  

  <%block name="overrideStyles" />

  //dekningsoversikt - vector layer
  layer = new OpenLayers.Layer.Vector(
    "${name}",
    {
      shortid: "${id}",
      styleMap: styleMap,
      visibility: ${visible},
      layerGroup: "${layerGroup}",
      preferredBackground: "${preferredBackground}"
    }
  );

  dataResponseHandler = function(request) {
    var geojson_format, 
        features,
        feature,
        key;

    geojson_format = new OpenLayers.Format.GeoJSON({
      'internalProjection': MP,
      'externalProjection': P['4326'] 
    });
    features = geojson_format.read(request.responseText);
    features = features.sort(function (a,b) {
       // sort by area
      return b.geometry.getArea() - a.geometry.getArea();
    });
    for (key in features) {
      if (features.hasOwnProperty(key)) {
        feature = features[key];
        if (feature.fid.length < 4) {
          feature.attributes.nr = feature.fid;
          feature.attributes.vignett = '';
        } else {
          feature.attributes.nr = '';
          feature.attributes.vignett = feature.fid;
          feature.fid = feature.fid.slice(0, 3);
        }
      }
    }
    layer.addFeatures(features);
  };

  M.addLayer(layer);

  request = OpenLayers.Request.GET({
    url: "${url}",
    callback: dataResponseHandler
  });

  highlightAllById = function(element) {
    // highlight all elements with the same element.feature.fid;
    var ident = layer.getFeaturesByFid (element.feature.fid);
    $.each(ident, function(i, feature) {
      feature.renderIntent = "temporary";
      layer.drawFeature(feature);
    });
  };

  unhighlightAllById = function(element) {
    // un-highlight all elements with the same element.feature.fid;
    var ident = layer.getFeaturesByFid (element.feature.fid);
    $.each(ident, function(i, feature) {
      var bladscale = feature.attributes.s;
      var mapscale  = map.getScale();
      feature.renderIntent = "default";
      layer.drawFeature(feature);
    });
  };

  var highlightDekningCtrl = new OpenLayers.Control.SelectFeature(layer, {
    hover: true,
    multiple: true,
    highlightOnly: true,
    renderIntent: "temporary",
    eventListeners: {
        beforefeaturehighlighted: highlightAllById,
        featureunhighlighted: unhighlightAllById
    },
    autoActivate: true
  });
  map.addControl(highlightDekningCtrl);
  

/*
  selectHandler = function(feature) {
    alert(feature.fid+"\n"+feature.attributes.vignett+"\n"+feature.attributes.n+"\n1:"+feature.attributes.s);
    postEvent({
      "event":"onSelect",
      "element":"kartblad",
      "type":"havnekart",
      "id":feature.fid
    });
  };

  var selectDekningCtrl = new OpenLayers.Control.SelectFeature(layer, {
     multiple: true,
     clickFeature: selectHandler,
     autoActivate: true
  });
  map.addControl(selectDekningCtrl);
*/


  var selectControl;
  var onPopupClose = null;

  function onPopupClose(evt) {
      selectControl.unselect(NK.selectedCoverageMap);
      delete NK.selectedCoverageMap;
  }
  function projectionName(projectionNumber) {
    switch (projectionNumber) {
      case '8':
        return 'Mercator';
      case '16':
        return 'Gauss Kr\u00FCger';
        break;
      default:
      return '';  
    }
    return '';
  }
  function generatePopupMarkup (feature) {
    var a  = feature.attributes;
      var markup = '<article>';
      markup += '<h1 class="h">' + a.n + '</h1>';
      markup += '<p>' + OpenLayers.Lang.translate('Map number') + ': ' + a.nr + '</p>';
      markup += '<p>' + OpenLayers.Lang.translate('Latest print') + ': ' + a.u + '</p>';
//      markup += '<p>' + OpenLayers.Lang.translate('Datum') + ': ' + a.e + '</p>';
      markup += '<p>' + OpenLayers.Lang.translate('Projection') + ': ' + projectionName(a.p) + '</p>';
      markup += '<p>' + OpenLayers.Lang.translate('Scale') + ': 1:' + a.s + '</p>';
      markup += '</article>';
      return markup;
  };

  function onFeatureSelect (feature) {
      NK = NK || {};
      if (NK.selectedCoverageMap ) {
          selectControl.unselect(NK.selectedCoverageMap);
      }
      NK.selectedCoverageMap = feature;

      var popup = new OpenLayers.Popup.Anchored("nk-selected-coverage-map", 
                               feature.geometry.getBounds().getCenterLonLat(),
                               null,
                               generatePopupMarkup(feature),
                               null, true, onPopupClose);
      popup.autoSize = true;
      feature.popup = popup;
      M.addPopup(popup);
  }
  function onFeatureUnselect (feature) {
      if (feature.popup === NK.selectedCoverageMap) {
          NK.selectedCoverageMap = null;
      }
      M.removePopup(feature.popup);
      feature.popup.destroy();
      feature.popup = null;

  }

  selectControl = new OpenLayers.Control.SelectFeature(layer, {
      select: onFeatureSelect, 
      unselect: onFeatureUnselect,
      click: true,
      autoActivate: true
  });

  M.addControl(selectControl);

OpenLayers.Util.extend(OpenLayers.Lang.nb, {
  'Map number': 'Kartblad',
  'Latest print': 'Siste trykk',
  'Datum': 'Datum',
  'Projection': 'Projeksjon',
  'Scale': 'M&aring;lestokk'
});

}(map, mapProj, proj));
