<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" style="height:100%"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" style="height:100%"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" style="height:100%"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en" style="height:100%"> <![endif]-->
% if manifestName:
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" style="height:100%" manifest="${manifestName}.manifest"> <!--<![endif]-->
% else:
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" style="height:100%"> <!--<![endif]-->
% endif

  <head>
    <!-- by kartverket / Thomas Hirsch 2012 - public domain -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="description" content="" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#333333" />
    <title>${title}</title>
    <script src="js/mobile_redirect.js?version=1.1"></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/bootstrap.min.css?version=1.1">
    <link rel="stylesheet" href="css/bootstrap.norgeskart.css">
    <link rel="stylesheet" type="text/css" href="theme/default/style.css" />
    % if mobile:
    <!-- Mobile CSS -->
    % else:
    <!--<link rel="stylesheet" type="text/css" href="js/uniform/theme/default/css/uniform.default.css" />-->
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="theme/norgeskart/no-svg.css" />
    <![endif]-->
    <link rel="stylesheet" media="print" type="text/css" href="theme/norgeskart/print.css" />
    % endif

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5163611-5', 'auto', {
      'allowLinker': true});
      ga('require', 'linkid');
      ga('set', 'anonymizeIp', true);
      ga('require','linker');
      ga('linker:autoLink',['kartverket.no','norgeskart.no','seeiendom.no','rettikartet.no','seplan.no']);
      ga('send', 'pageview');
    </script>

  </head>
  <body style="height: 100%; overflow: hidden;">
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNVX5J"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WNVX5J');</script>
  <!-- End Google Tag Manager -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
    </header>
% if mapClass:
    <div id="map" role="main" class="${mapClass}" style="width:100%; height:100%"></div>
% else:
    <div id="map" role="main" style="width:100%; height:100%"></div>
% endif
    <footer>
    </footer>
    <script src="js/modernizr.min.js"></script>
    <script src="js/proj4js.min.js"></script>
    <script src="js/openlayers.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/SOSI.js.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.ui.min.js"></script>
    <script src="js/jquery.storageapi.min.js"></script>
    <script src="js/jquery.caret.js"></script>
    <script src="js/jquery.keyboard.min.js"></script>
    <script async src="js/bootstrap.min.js"></script>
    <!--[if IE]>
    <script src="js/xdr.js"></script>
    <![endif]-->
    <script src="js/plugins.min.js"></script>
    <!--<script src="js/uniform/jquery.uniform.js"></script>-->

% if includeXDM:
    <%include file="/easyXDM.html" />
% endif
    <script src="${mapscript}"></script>

    <!--[if lt IE 9]>
        <script>
            $(window).on('resize', function(evt) {
                var win = $(window);
                var body = $('body');
                var h = parseInt(win.innerHeight(), 10);
                var w = parseInt(win.innerWidth(), 10);
                if (h >= 850) { body.removeClass('sub850h'); }
                if (h >= 750) { body.removeClass('sub750h'); }
                if (h >= 650) { body.removeClass('sub650h'); }
                if (h < 850) { body.addClass('sub850h'); }
                if (h < 750) { body.addClass('sub750h'); }
                if (h < 650) { body.addClass('sub650h'); }
                if (w >= 550) { body.removeClass('sub550w'); }
                if (w < 550) { body.addClass('sub550w'); }
            });

        </script>
    <![endif]-->
% if splashscreen:
    ${splashscreen}
% endif
% if finalscripts:
    ${finalscripts}
% endif
  </body>
</html>
