<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" style="height:100%"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" style="height:100%"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" style="height:100%"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" style="height:100%"> <!--<![endif]-->
  <head>
    <!-- by kartverket / Thomas Hirsch 2012 - public domain -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>${title}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="theme/default/style.css" />
    <link rel="stylesheet" type="text/css" href="js/uniform/theme/default/css/uniform.default.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="theme/norgeskart/no-svg.css" />
    <![endif]-->
    <link rel="stylesheet" media="print" type="text/css" href="theme/norgeskart/print.css" />
    
    <script src="js/modernizr.min.js"></script>
    <script src="js/proj4js.min.js"></script>
    <script src="js/openlayers.min.js"></script>
<!--    <script src="js/easyXDM.debug.js"></script> --><!-- our maps send status messages via an easyXDM API -->
    <!-- todo: move a part of these scripts to a post-loading in plugins.js, where they are not needed immediately. -->
  </head>
  <body style="height: 100%;">
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
    </header>
    <div id="map" role="main" style="width:100%; height:100%"></div>
    <footer>
    </footer>
    <script src="js/jquery.js"></script>
    <!--[if IE]>
    <script src="js/xdr.js"></script>
    <![endif]-->
    <script src="js/plugins.min.js"></script>
    <script src="js/uniform/jquery.uniform.js"></script>
    <script>
      ${mapscript}
    </script>
    <!--[if lt IE 9]>
        <script>
            $(window).on('resize', function(evt) {
                var win = $(window);
                var body = $('body');
                var h = parseInt(win.innerHeight());
                var w = parseInt(win.innerWidth());
                if (h >= 850) { body.removeClass('sub850h'); }
                if (h >= 750) { body.removeClass('sub750h'); }
                if (h >= 650) { body.removeClass('sub650h'); }
                if (h < 850) { body.addClass('sub850h'); }
                if (h < 750) { body.addClass('sub750h'); }
                if (h < 650) { body.addClass('sub650h'); }
                if (w >= 550) { body.removeClass('sub550w'); }
                if (w < 550) { body.addClass('sub550w'); }
            });

        </script>
    <![endif]-->
% if splashscreen:
    ${splashscreen}
% endif
%if finalscripts:
    ${finalscripts}
%endif
  </body>
</html>
