var NK = NK || {};

var gkopen, 
    gkopen_wmts,
    proj,
    mapProj,
    mapBounds,
    xdmsocket,
    initLayers,
    postEvent,
    init,
    map;

gkopen = "http://opencache.statkart.no/gatekeeper/gk/gk.open";
gkopen_wmts = "http://opencache.statkart.no/gatekeeper/gk/gk.open_wmts";

init = function () {

Proj4js.defs["EPSG:4326"] ="+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
Proj4js.defs["EPSG:32632"]="+proj=utm +zone=32 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
Proj4js.defs["EPSG:32633"]="+proj=utm +zone=33 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
Proj4js.defs["EPSG:32635"]="+proj=utm +zone=35 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
Proj4js.defs["EPSG:3575"] ="+proj=laea +lat_0=90 +lon_0=10 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
Proj4js.defs["EPSG:3034"] ="+proj=lcc +lat_1=35 +lat_2=65 +lat_0=52 +lon_0=10 +x_0=4000000 +y_0=2800000 +ellps=GRS80 +units=m +no_defs";

proj = {  //pregenerated projection objects
  "32633": new OpenLayers.Projection('EPSG:32633'),
  "32632": new OpenLayers.Projection('EPSG:32632'),
  "32635": new OpenLayers.Projection('EPSG:32635'),
  "4326" : new OpenLayers.Projection('EPSG:4326'),
  "3034" : new OpenLayers.Projection('EPSG:3034'),
  "3575" : new OpenLayers.Projection('EPSG:3575')
};

mapProj = proj["32633"];
mapBounds = new OpenLayers.Bounds(-2500000.0,3500000.0,3045984.0,9045984.0); 


  var prmstr,
      prmarr,
      params,
      tmparr,
      i,
      j,
      updateHistory;

  if (!OpenLayers || !Proj4js) {
    setTimeout(init, 100);
    return;
  }

  OpenLayers.Util.onImageLoadErrorColor = 'transparent';
  OpenLayers.Lang.setCode('nb');
  OpenLayers.ImgPath = '/img/lib/openlayers/';

  // extract URL parameters into dictionary
  prmstr = window.location.search.substr(1);
  prmarr = prmstr.split ("&");
  params = {};

  for (i = 0, j = prmarr.length; i < j; i += 1) {
    tmparr = prmarr[i].split("=");
    params[tmparr[0]] = tmparr[1];
  }

  // Create map canvas

  if (!!params.proj) {
    mapProj = proj[params.proj]; 
  }

  updateHistory = function (evt) {
    var center,
        zoom,
        i,
        layer,
        optchars;

    if (!!map) {
      center = map.getCenter();
      zoom   = map.getZoom();

      if (!!center && !!zoom) {
        uid = zoom + "/" + Math.round(center.lon) + "/" + Math.round(center.lat); 
        /* 1m precision ought to be enough for everyone --BG */

        if (!!initLayers && !!map.layers) { 
          for (i in map.layers) {
            layer = map.layers[i];
            if (layer.visibility) {
              if ($.inArray(layer.shortid, initLayers) === -1) {
                uid += "/+"+layer.shortid;
              }
            } else {
              if ($.inArray(layer.shortid, initLayers) > -1) {
                uid += "/-" + layer.shortid;
              }
            }
          }

          optchars="";

          if (typeof layer_sw !== 'undefined') {
            if (map.controls.indexOf(layer_sw) === -1) {
              optchars += 'l';
            } else {
              if (!layer_sw.layersDiv.style.display) {
                optchars += 'L';
              }
            }
            if (typeof legend !== 'undefined') {
              if (map.controls.indexOf(legend) === -1) {
                optchars += 'h';
              } else {
                if (!legend.wrapperDiv.style.display) {
                  optchars += 'H';
                }
              }
              if (typeof nav !== 'undefined') {
                if (!nav.active) {
                  optchars += 'n';
                }
              }
              if (typeof zoomCtrl !== 'undefined') {
                if (map.controls.indexOf(zoomCtrl) === -1) {
                  optchars += 'z';
                }
              }
              if (optchars.length > 0) {
                uid += "/w" + optchars;
              }
              window.location.hash = uid;
            }
            postEvent({
              "event": "onMoveMap",
              "x": center.lon, 
              "y": center.lat,
              "z": zoom
            });
          }
        }
      }
    }
  };

  map = new OpenLayers.Map( 
    'map', 
    {
      controls: [], //defined later
      projection: mapProj,
      displayProjection: mapProj,
      maxExtent:  mapBounds,
      units: "m",
      maxResolution: 21664.0,
      numZoomLevels: 18,
      theme: null,
      eventListeners: {
        "moveend": updateHistory,
        "zoomend": updateHistory,
        "changelayer": updateHistory,
        "changebaselayer": updateHistory
      }
    }
  );

  // Base layers
  ${baselayers}

  // Placement and zoom of the map
  ${center}

  // Overlays
  ${overlays}

  // Add controls at the end, to keep focus
  var controlContext = map;

  /**
   *  used by controls templates to place controls in the correct context
   *
   */
  var addControlToContext = function (control, context) {
    // utility method to add control to map or panel

    if (context.addControl) {
      // context is a map
      context.addControl(control);
    } else if (context.addControls) {
      // context is a panel
      context.addControls([control])
    }
  };

  ${controls}

  xdmsocket = new easyXDM.Socket({});

  postEvent = function (dico) {
    if (!!xdmsocket) {
      xdmsocket.postMessage(JSON.stringify(dico));
    }
  };

  postEvent({
    "event": "onInit",
    "apiVersion": "0"
  });
};
