"use strict";

var NK = NK || {};
NK.mapEventListeners = {};

var gkopen, 
    gkopen_wmts,
    proj,
    mapProj,
    mapBounds,
    xdmsocket,
    initLayers,
    postEvent,
    map;

gkopen = "http://opencache.statkart.no/gatekeeper/gk/gk.open";
gkopen_wmts = "http://opencache.statkart.no/gatekeeper/gk/gk.open_wmts";

NK.gkToken = "unInitialized";
NK.tokenService = "http://beta.norgeskart.no/ws/gkt.py";

NK.mapservers = {};
NK.mapservers.wmts = [
  "http://gatekeeper1.geonorge.no/BaatGatekeeper/gk/gk.cache_wmts",
  "http://gatekeeper2.geonorge.no/BaatGatekeeper/gk/gk.cache_wmts"
];

NK.functions = NK.functions || {};

NK.functions.updateToken = function (request) {
  var i, 
      j, 
      oldToken = NK.gkToken, 
      updatedTokensCount = 0;

  NK.gkToken = request.responseText.replace(/[\"\r\n]/g, '');

  for (i = 0, j = map.layers.length; i < j; i += 1) {
    if (map.layers[i].params && map.layers[i].params.gkt) {
      map.layers[i].params.gkt = NK.gkToken;
      map.layers[i].redraw();
      updatedTokensCount++;
    }
  }
};

NK.functions.getNewToken = function () {
  if (NK.gkToken !== null) {
    NK.gkToken = null;
    OpenLayers.Request.GET({url: NK.tokenService, success: NK.functions.updateToken});
  }
};

${functions}

NK.init = function () {

  var prmstr,
      prmarr,
      params,
      tmparr,
      i,
      j;

  if (!OpenLayers || !Proj4js) {
    setTimeout(NK.init, 100);
    return;
  }

  Proj4js.defs["EPSG:4326"] ="+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
  Proj4js.defs["EPSG:32632"]="+proj=utm +zone=32 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
  Proj4js.defs["EPSG:32633"]="+proj=utm +zone=33 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
  Proj4js.defs["EPSG:32635"]="+proj=utm +zone=35 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
  Proj4js.defs["EPSG:3575"] ="+proj=laea +lat_0=90 +lon_0=10 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
  Proj4js.defs["EPSG:3034"] ="+proj=lcc +lat_1=35 +lat_2=65 +lat_0=52 +lon_0=10 +x_0=4000000 +y_0=2800000 +ellps=GRS80 +units=m +no_defs";

  proj = {  
    //pregenerated projection objects
    "32633": new OpenLayers.Projection('EPSG:32633'),
    "32632": new OpenLayers.Projection('EPSG:32632'),
    "32635": new OpenLayers.Projection('EPSG:32635'),
    "4326" : new OpenLayers.Projection('EPSG:4326'),
    "3034" : new OpenLayers.Projection('EPSG:3034'),
    "3575" : new OpenLayers.Projection('EPSG:3575')
  };

  mapProj = proj["32633"];
  mapBounds = new OpenLayers.Bounds(-2500000.0,3500000.0,3045984.0,9045984.0); 

  OpenLayers.Util.onImageLoadErrorColor = 'transparent';
  OpenLayers.Lang.setCode('nb');
  OpenLayers.ImgPath = 'img/';

  // extract URL parameters into dictionary
  prmstr = window.location.search.substr(1);
  prmarr = prmstr.split ("&");
  params = {};

  for (i = 0, j = prmarr.length; i < j; i += 1) {
    tmparr = prmarr[i].split("=");
    params[tmparr[0]] = tmparr[1];
  }

  // Create map canvas

  if (!!params.proj) {
    mapProj = proj[params.proj]; 
  }

  map = new OpenLayers.Map( 
    'map', 
    {
      controls: [], //defined later
      projection: mapProj,
      displayProjection: mapProj,
      maxExtent:  mapBounds,
      units: "m",
      maxResolution: 21664.0,
      numZoomLevels: 18,
      theme: 'theme/norgeskart/style.css',
      eventListeners: NK.mapEventListeners
    }
  );

  // Base layers
  ${baselayers}

  // Placement and zoom of the map
  ${center}

  // Overlays
  ${overlays}

  // Add controls at the end, to keep focus
  var controlContext = map;
  var container = null;

  ${controls}

  // initialize URL update state
  if (NK.functions.storeInitialLayerVisibility) {
    NK.functions.storeInitialLayerVisibility();
  }
  if (NK.functions.setMapStateFromURL) {
    NK.functions.setMapStateFromURL();
  }
  
/*
  xdmsocket = new easyXDM.Socket({});
*/
  postEvent = function (dico) {
    if (!!xdmsocket) {
      xdmsocket.postMessage(JSON.stringify(dico));
    }
  };

  postEvent({
    "event": "onInit",
    "apiVersion": "0"
  });
};

var addEvent = function(event, handler) {
  var listen = window.addEventListener || window.attachEvent;
  if (window.addEventListener) {
    listen(event, handler, false);
  } else {
    listen("on" + event, handler);
  }
};
var cb = function(response, status, request) {
  NK.gkToken = request.responseText.replace(/[\"\r\n]/g, '');
  NK.init();
};
var initializeToken = function () {
  $.ajax({
    url: NK.tokenService, 
    success: cb,
    type: 'GET'
  });
};
addEvent('load', initializeToken);