<%include file="/functions/vector.html" />

var aislayer,
    ais_selectBlad,
    ais_clusterStyle,
    request;

ais_clusterStyle = new OpenLayers.StyleMap({
  'default': new OpenLayers.Style({
    pointRadius: "${"${size}"}",
    strokeWidth: 1,
    strokeColor  : "#884",
    fillOpacity: 0,

    label: "${"${count}"}",
    fontColor: "#aa8",
    fontSize: "12px",
    fontFamily: "Courier New, monospace",
    fontWeight: "bold",
    labelAlign: "cm",
    labelOutlineColor: "white",
    labelOutlineWidth: 3 
  },{
    rules  : [
      new OpenLayers.Rule({
        evaluate: function(feature) {
          return (feature.cluster.length == 1) && (feature.cluster[0].attributes["Nav Status"] == "under way, using engine");
        },
        symbolizer: {
          fillOpacity: 0.8,
          fillColor: "#484",
          strokeColor: "#8b8",
          fontColor: "#8b8"
        }
      }),
      new OpenLayers.Rule({
        evaluate: function(feature) {
          return (feature.cluster.length > 1);
        },
        symbolizer: {
          fillOpacity: 0.8,
          fillColor: "#cc8",
          strokeColor: "#cca"
        }
      }),
      new OpenLayers.Rule({
        evaluate: function(feature) {
          return (feature.cluster.length == 1) && (feature.cluster[0].attributes["Nav Status"] == "engaged in fishing");
        },
        symbolizer: {
          fillOpacity: 0.8,
          fillColor: "#864",
          strokeColor: "#ba8",
          strokeWidth: 2,
          fontColor: "#ba8"
        }
      }),
      new OpenLayers.Rule({
        evaluate: function(feature) {
          return (feature.cluster.length == 1) && (feature.cluster[0].attributes["Nav Status"] == "at anchor");
        },
        symbolizer: {
          fillOpacity: 0.8,
          fillColor: "#844",
          strokeColor: "#a88",
          fontColor: "#a88"
        }
      })
    ], // other status messages: "", "undefined"
    context: {
      count: function(feature) {
        return feature.cluster ? feature.cluster.length : "1";
      },
      size: function(feature) {
        if (feature.cluster.length < 8) {return 8;}
        if (feature.cluster.length > 25) {return 25;}
        return feature.cluster.length;
      }
    }
  }),
  'temporary': {
    strokeWidth: 3,
    strokeColor: '#dda',
    fontColor: '#440'
  }
});

aislayer = new OpenLayers.Layer.Vector(
  "AIS (marin ferdsel)",
  {
    shortid: "ais", 
    styleMap: ais_clusterStyle,
    strategies: [
      new OpenLayers.Strategy.Cluster()
    ],
    protocol: new OpenLayers.Protocol.HTTP(),
    visibility: ${visible} 
  }
);

request = OpenLayers.Request.GET({
  url: "/json/ais.json",
  callback: function (request) {
    var geojson_format,
        features;

    geojson_format = new OpenLayers.Format.GeoJSON({
      'internalProjection': mapProj,
      'externalProjection': proj['4326'] 
    });
    features = geojson_format.read(request.responseText);

    aislayer.addFeatures(features);
  }
});

map.addLayers([aislayer]);

ais_selectBlad = function (feature) {
  if (feature.cluster.length == 1) {
    feature = feature.cluster[0]
    alert("MMSI:\t"+feature.fid + "\n" +
        "Name:\t"+feature.attributes['ship name'] + "\n" +
        "Cargo:\t"+feature.attributes['cargo'] + "\n" +
        "Crew:\t"+feature.attributes['persons onboard'] + "\n" +
        "Country:\t"+feature.attributes['country'] + "\n" + 
        "Status:\t"+feature.attributes['Nav Status'] + "\n" 
    );
  } else {
    alert(feature.cluster.length + " fart&oslash;y registrert rundt denne posisjonen.");
  } 
};

NK.functions.vector.addVectorControls(map, aislayer, ais_selectBlad, false);
