<%include file="/functions/vector.html" />

var dekningStyle,
    pn50layer,
    pn50_selectBlad;

dekningStyle = new OpenLayers.StyleMap({
  'default': new OpenLayers.Style(
    {
      strokeWidth: 1,
      strokeColor  : "#484",
      fillOpacity: 0, 
      label : "${"${nr}"}",
      fontColor: "#8a8",
      fontSize: "12px",
      fontFamily: "Courier New, monospace",
      fontWeight: "bold",
      labelAlign: "cm",
      labelOutlineColor: "white",
      labelOutlineWidth: 5
    },
    {
      rules: [
        new OpenLayers.Rule({
          maxScaleDenominator: 5000000,
          symbolizer: {
            label: "${"${nr}"}"
          }
        }),
        new OpenLayers.Rule({
          minScaleDenominator: 5000000,
          symbolizer: {
            label: ""
          }
        })
      ]
    }
  ),
  'temporary': {
      strokeWidth: 3,
      strokeColor  : "#ada",
      fontColor: "#ada",
      fillOpacity: 0.1
  }
});

//dekningsoversikt - vector layer
pn50layer = new OpenLayers.Layer.Vector(
  "Dekningsoversikt Papirkart",
  {
    shortid: "dekning.papir", 
    styleMap: dekningStyle, 
    visibility: ${visible} 
  }
);

function handler(request) {
  var geojson_format,
      features,
      feature, key;

  geojson_format = new OpenLayers.Format.GeoJSON({
    'internalProjection': mapProj,
    'externalProjection': proj['32633'] 
  });

  features = geojson_format.read(request.responseText);

  for (key in features) {
    feature = features[key];
    feature.attributes['nr'] = feature.fid;
  }

  pn50layer.addFeatures(features);
};

map.addLayer(pn50layer);

OpenLayers.Request.GET({
  url: "http://beta.norgeskart.no/json/dekning/land/n50.json",
  callback: handler
});

pn50_selectBlad = function(feature) {
  alert(feature.fid);
  postEvent({
    "event": "onSelect", 
    "element": "kartblad", 
    "type": "n50", 
    "id": feature.fid
  });
};

NK.functions.vector.addVectorControls(map, pn50layer, pn50_selectBlad);
