      var dekningStyle = new OpenLayers.StyleMap({
        'default': new OpenLayers.Style({
          strokeWidth: 1,
          strokeColor  : "#484",
          fillOpacity: 0, 

          label : "${"${nr}"}",
          fontColor: "#8a8",
          fontSize: "12px",
          fontFamily: "Courier New, monospace",
          fontWeight: "bold",
          labelAlign: "cm",
          labelOutlineColor: "white",
          labelOutlineWidth: 5

      }, {
          rules: [
            new OpenLayers.Rule({
              maxScaleDenominator: 5000000,
              symbolizer: {
                label: "${"${nr}"}"
              }
            }),
            new OpenLayers.Rule({
              minScaleDenominator: 5000000,
              symbolizer: {
                label: ""
              }
            })
          ]
      }),
        'temporary': {
          strokeWidth: 3,
          strokeColor  : "#ada",
          fontColor: "#ada",
          fillOpacity: 0.1}
      });
     

//dekningsoversikt - vector layer
      var pn50layer = new OpenLayers.Layer.Vector("Dekningsoversikt Papirkart",
                                {styleMap: dekningStyle, visibility: ${visible} });

      var handler = function(request) {
        var geojson_format = new OpenLayers.Format.GeoJSON({
          'internalProjection': mapProj,
          'externalProjection': new OpenLayers.Projection("EPSG:32633")
        });
        var features = geojson_format.read(request.responseText);
        for (key in features) {
          var feature=features[key];
          feature.attributes['nr'] = feature.fid;
        }
        pn50layer.addFeatures(features);
      }

      var request = OpenLayers.Request.GET({
        url: "/json/dekning_n50.json",
        callback: handler
      });

      map.addLayer(pn50layer);

      var pn50_highlightAllById = function(element) {
        // highlight all elements with the same element.feature.fid;
        var ident = pn50layer.getFeaturesByFid (element.feature.fid) ;
        $.each(ident, function(i, feature) {
          feature.renderIntent="temporary";
          pn50layer.drawFeature(feature);
        });
      };
      var pn50_unhighlightAllById = function(element) {
        // un-highlight all elements with the same element.feature.fid;
        var ident = pn50layer.getFeaturesByFid (element.feature.fid) ;
        $.each(ident, function(i, feature) {
          feature.renderIntent="default";
          pn50layer.drawFeature(feature);
        });
      };
      var pn50_selectBlad = function(feature) {
        // alert(feature.fid);
        xdmsocket.postMessage(JSON.stringify({"event":"onSelect", "element":"kartblad", "type":"n50", "id":feature.fid}));
      }

      var highlightDekningCtrl = new OpenLayers.Control.SelectFeature(pn50layer, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary",
                eventListeners: {
                    beforefeaturehighlighted: pn50_highlightAllById,
                    featureunhighlighted: pn50_unhighlightAllById
                }
            });
      var selectDekningCtrl = new OpenLayers.Control.SelectFeature(pn50layer, {
         clickFeature: pn50_selectBlad          
      });

      map.addControl(highlightDekningCtrl);
      highlightDekningCtrl.activate();
      map.addControl(selectDekningCtrl);
      selectDekningCtrl.activate();
