<% vars['labelScaleLimit'] = 500000 %>
<%include file="/styles/dekning_historisk.html" />

var hrektlayer,
    handler,
    request,
    hrekt_highlightAllById,
    hrekt_unhighlightAllById,
    hrekt_selectBlad,
    hrektHighlightDekningCtrl,
    hrektSelectDekningCtrl;

// dekningsoversikt - vector layer
hrektlayer = new OpenLayers.Layer.Vector(
  "Historiske Rektangelm&aring;linger",
  {
    shortid: "hist.rektangel",
    styleMap: dekningHStyle, 
    visibility: ${visible} 
  }
);

handler = function (request) {
  var geojson_format,
      features;

  geojson_format = new OpenLayers.Format.GeoJSON({
    'internalProjection': mapProj,
    'externalProjection': proj['32633'] 
  });
  features = geojson_format.read(request.responseText);

  hrektlayer.addFeatures(features);
};

request = OpenLayers.Request.GET({
  url: "/json/dekning_hist_rekt.json",
  callback: handler
});

map.addLayers([hrektlayer]);

hrekt_highlightAllById = function (element) {
  // highlight all elements with the same element.feature.fid;
  var ident = hrektlayer.getFeaturesByFid (element.feature.fid) ;

  $.each(ident, function (i, feature) {
    feature.renderIntent = "temporary";
    hrektlayer.drawFeature(feature);
  });
};

hrekt_unhighlightAllById = function (element) {
  // un-highlight all elements with the same element.feature.fid;

  var ident = hrektlayer.getFeaturesByFid (element.feature.fid) ;

  $.each(ident, function (i, feature) {
    feature.renderIntent = "default";
    hrektlayer.drawFeature(feature);
  });
};

hrekt_selectBlad = function (feature) {
  alert(feature.attributes.Kartnavn);
};

hrektHighlightDekningCtrl = new OpenLayers.Control.SelectFeature(
  hrektlayer, 
  {
    hover: true,
    highlightOnly: true,
    renderIntent: "temporary",
    eventListeners: {
      beforefeaturehighlighted: hrekt_highlightAllById,
      featureunhighlighted: hrekt_unhighlightAllById
    }
  }
);

hrektSelectDekningCtrl = new OpenLayers.Control.SelectFeature(
  hrektlayer, 
  {
    clickFeature: hrekt_selectBlad
  }
);

map.addControl(hrektHighlightDekningCtrl);
hrektHighlightDekningCtrl.activate();
map.addControl(hrektSelectDekningCtrl);
hrektSelectDekningCtrl.activate();
