var dekningStyle,
    pn50layer,
    handler,
    request,
    pn50_highlightAllById,
    pn50_unhighlightAllById,
    pn50_selectBlad,
    highlightDekningCtrl,
    selectDekningCtrl;

dekningStyle = new OpenLayers.StyleMap({
  'default': new OpenLayers.Style(
    {
      strokeWidth: 1,
      strokeColor  : "#484",
      fillOpacity: 0, 
      label : "${"${nr}"}",
      fontColor: "#8a8",
      fontSize: "12px",
      fontFamily: "Courier New, monospace",
      fontWeight: "bold",
      labelAlign: "cm",
      labelOutlineColor: "white",
      labelOutlineWidth: 5
    },
    {
      rules: [
        new OpenLayers.Rule({
          maxScaleDenominator: 5000000,
          symbolizer: {
            label: "${"${nr}"}"
          }
        }),
        new OpenLayers.Rule({
          minScaleDenominator: 5000000,
          symbolizer: {
            label: ""
          }
        })
      ]
    }
  ),
  'temporary': {
      strokeWidth: 3,
      strokeColor  : "#ada",
      fontColor: "#ada",
      fillOpacity: 0.1
  }
});

//dekningsoversikt - vector layer
pn50layer = new OpenLayers.Layer.Vector(
  "Dekningsoversikt Papirkart",
  {
    shortid: "dekning.papir", 
    styleMap: dekningStyle, 
    visibility: ${visible} 
  }
);

handler = function (request) {
  var geojson_format,
      features,
      feature, key;

  geojson_format = new OpenLayers.Format.GeoJSON({
    'internalProjection': mapProj,
    'externalProjection': proj['32633'] 
  });

  features = geojson_format.read(request.responseText);

  for (key in features) {
    feature = features[key];
    feature.attributes['nr'] = feature.fid;
  }

  pn50layer.addFeatures(features);
};

map.addLayer(pn50layer);

request = OpenLayers.Request.GET({
  url: "/json/dekning_n50.json",
  callback: handler
});

pn50_highlightAllById = function (element) {
  // highlight all elements with the same element.feature.fid

  var ident = pn50layer.getFeaturesByFid(element.feature.fid);
  $.each(ident, function (i, feature) {
    feature.renderIntent = "temporary";
    pn50layer.drawFeature(feature);
  });
};

pn50_unhighlightAllById = function(element) {
  // un-highlight all elements with the same element.feature.fid

  var ident = pn50layer.getFeaturesByFid(element.feature.fid) ;

  $.each(ident, function (i, feature) {
    feature.renderIntent="default";
    pn50layer.drawFeature(feature);
  });
};

pn50_selectBlad = function(feature) {
  alert(feature.fid);
  postEvent({
    "event": "onSelect", 
    "element": "kartblad", 
    "type": "n50", 
    "id": feature.fid
  });
};

highlightDekningCtrl = new OpenLayers.Control.SelectFeature(
  pn50layer, 
  {
    hover: true,
    highlightOnly: true,
    renderIntent: "temporary",
    eventListeners: {
      beforefeaturehighlighted: pn50_highlightAllById,
      featureunhighlighted: pn50_unhighlightAllById
    }
  }
);

selectDekningCtrl = new OpenLayers.Control.SelectFeature(
  pn50layer, 
  {
    clickFeature: pn50_selectBlad          
  }
);

map.addControl(highlightDekningCtrl);
highlightDekningCtrl.activate();
map.addControl(selectDekningCtrl);
selectDekningCtrl.activate();
