var matrixIds,
    wmts,
    i;

matrixIds = new Array(18);

for (i = 0; i <= 18; ++i) {
  matrixIds[i] = {};
  matrixIds[i].identifier = mapProj + ":" + i;
} 

wmts = new OpenLayers.Layer.WMTS({
  name: "Europa",
  url: gkopen_wmts,
  layer: "europa",
  matrixSet: mapProj,
  matrixIds: matrixIds,
  format: "image/png",
  requestEncoding: "kvp",
  style: "default",
  shortid: "europa", 
  visibility: ${visible}, 
  transitionEffect: 'resize',
  opacity: 0.5
});
map.events.register('zoomend', wmts, function (evt) {
  this.setVisibility(map.getZoom() <= 6);
});

map.addLayers([wmts]);
