<%doc>
description: Special background layer using the Europe base map WMTS, and disappearing after zoom level 6
params: 
  visible: whether this layer should be visible at all 
</%doc>
var matrixIds,
    wmts,
    i;

matrixIds = new Array(NK.zoomLevels);

for (i = 0; i <= NK.zoomLevels; ++i) {
  matrixIds[i] = {};
  matrixIds[i].identifier = mapProj + ":" + i;
} 

wmts = new OpenLayers.Layer.WMTS({
  name: "Europa",
  url: NK.mapservers.wmts,
  layer: "egk",
  matrixSet: mapProj,
  matrixIds: matrixIds,
  format: "image/png",
  requestEncoding: "kvp",
  style: "default",
  shortid: "europa", 
  visibility: ${visible}, 
  transitionEffect: 'resize',
  opacity: 1.0,
  params: {
    gkt: NK.gkToken
  },
  displayInLayerSwitcher:0,

  dataURL:  "http://openwms.statkart.no/skwms1/wms.europa",
  dataType: "wms",
  dataFormats: ["image/png","image/png; mode=24bit","image/jpeg"],
  dataLayers: "Europa_WMS"
});

if (wmts.params.GKT) {
  wmts.params.gkt = wmts.params.GKT;
  delete wmts.params.GKT; 
}

wmts.events.register("tileerror", wmts, function(arg) {
  NK.functions.getNewToken();
});

map.events.register('zoomend', wmts, function (evt) {
  this.setVisibility(map.getZoom() <= 6);
});

map.addLayers([wmts]);
