var fylkStyle,
    strTFS,
    prtTFS,
    fylkLayer,
    fylk_highlightAllById,
    fylk_unhighlightAllById,
    fylk_info,
    highlightAbasCtrl,
    selectAbasCtrl;

fylkStyle = new OpenLayers.StyleMap({
  'default': {
    strokeWidth: 3,
    strokeColor  : "#B487FE",
    fillOpacity: 0,
    graphicZIndex: 0
  },
  'temporary': {
    strokeWidth: 6,
    fillColor  : "#DFCCFF",
    strokeColor  : "#DFCCFF",
    fillOpacity: 0.2,
    graphicZIndex: 1
  }
});

//kommunegrenser - vector layer
strTFS = new OpenLayers.Strategy.TFS({
  resFactor: 1, 
  ratio: 1, 
  mapBounds: mapBounds, 
  format: new OpenLayers.Format.GeoJSON()
});

prtTFS = new OpenLayers.Protocol.TFS({
  url: "/stache/kd_fylker",
  last:false,
  format: new OpenLayers.Format.GeoJSON()
});

fylkLayer = new OpenLayers.Layer.Vector(
  "Fylker (ABAS)",
  {
    shortid: "fylke",
    strategies: [strTFS],
    protocol: prtTFS,
    projection: mapProj,
    styleMap: fylkStyle,
    rendererOptions: {zIndexing: true},
    visibility: ${visible}
  }
);

map.addLayers([fylkLayer]);

fylk_highlightAllById = function (element) {
  // highlight all elements with the same element.feature.fid;

  var ident = fylkLayer.getFeaturesByFid(element.feature.fid);
  $.each(ident, function(i, feature) {
    feature.renderIntent="temporary";
    fylkLayer.drawFeature(feature);
  });
};

fylk_unhighlightAllById = function (element) {
  // un-highlight all elements with the same element.feature.fid;

  var ident = fylkLayer.getFeaturesByFid(element.feature.fid);
  $.each(ident, function(i, feature) {
    feature.renderIntent="default";
    fylkLayer.drawFeature(feature);
  });
};

fylk_info = function (feature) {
  alert(feature.attributes.n);
};

highlightAbasCtrl = new OpenLayers.Control.SelectFeature(
  fylkLayer, 
  {
    hover: true,
    highlightOnly: true,
    renderIntent: "temporary",
    eventListeners: {
      beforefeaturehighlighted: fylk_highlightAllById,
      featureunhighlighted: fylk_unhighlightAllById
    }
  }
);

selectAbasCtrl = new OpenLayers.Control.SelectFeature(
  fylkLayer, 
  {
    clickFeature: fylk_info 
  }
);


map.addControl(highlightAbasCtrl);
highlightAbasCtrl.activate();
map.addControl(selectAbasCtrl);
selectAbasCtrl.activate();
