
% if cluster:
  <%include file="/strategies/cluster.html"/>
%endif

% if popup:
  <%include file="/functions/popup.html"/>
% endif

%if not 'layerTypeGeoJSONfile' in vars:
NK.addLayerType = NK.addLayerType || {};

NK.addLayerType.geoJSONFile = (function (M, MP, P) {
  return function (id, name, url, options) {
    var layer,
        layerOptions,
        formatOptions,
        geoJSONFormat;

    formatOptions = {
      'internalProjection': MP,
      'externalProjection': MP 
    };

    // set external projection, if provided  
    if (options.epsgCode && P[options.epsgCode]) {
      formatOptions.externalProjection = P[options.epsgCode];
    }

    geoJSONFormat = new OpenLayers.Format.GeoJSON(formatOptions);

    layerOptions = {
      shortid: id, 
      protocol: new OpenLayers.Protocol.HTTP({
        'url': url,
        'format': geoJSONFormat
      }),
      strategies: [new OpenLayers.Strategy.Fixed({preload: true, autoActivate: true})],
      styleMap: NK.styles.omriss,
      projection: MP,
      displayInLayerSwitcher: (options && options.hideFromLayerSwitcher) ? 0 : 1,
      visibility: (options && options.visible) ? 1 : 0
    };

    if (options.styleName && NK.styles && NK.styles[options.styleName]) {
      layerOptions.styleMap = NK.styles[options.styleName];
    }

    if (options.styleNameSLD && NK.styles && NK.styles.SLD && NK.styles.SLD[options.styleNameSLD]) {
      layerOptions.styleMap = NK.styles.SLD[options.styleName];
    }

    if (options.label) {
      var tempSM = layerOptions.styleMap;
      layerOptions.styleMap = new OpenLayers.StyleMap(
        {
          'default': tempSM.styles['default'].clone(),
          'select': tempSM.styles.select, 
          'temporary': tempSM.styles.temporary,
          'delete': tempSM.styles['delete']
        }
      );
      layerOptions.styleMap.styles['default'].context = {
        'getLabel': function (feature) {
          return feature.attributes[options.label];
        }
      };

      layerOptions.styleMap.styles['default'].defaultStyle.label = '${'${getLabel}'}';
    }

    if (options.cluster && NK.strategies.cluster) {
      layerOptions.strategies.push(NK.strategies.cluster);
    }

    layer = new OpenLayers.Layer.Vector(
      name,
      layerOptions
    );

    if (options.styleNameSLD && NK.styles && NK.styles.SLD && NK.styles.SLD[options.styleNameSLD]) {
      NK.functions.setSLDStyleForLayer(options.styleNameSLD, layer);
    }

    if (options.cluster) {
      NK.styles.addClusteringRule(layer.styleMap);
    }

    if (options && options.layerGroup) {
      layer = OpenLayers.Util.extend(layer, {'layerGroup': options.layerGroup});
    }

    if (options && options.visible) {
      NK.defaultVisibleLayers = NK.defaultVisibleLayers || [];
      NK.defaultVisibleLayers.push(id);
    }

    if (options && options.popupConfig) {
      NK.functions.popup.addConfiguredPopup(M, layer, options.popupConfig);
    }

    M.addLayer(layer);
  };
}(map, mapProj, proj));

<% vars['layerTypeGeoJSON']=True %>
%endif

(function () {
  var options = {};

% if layerGroup:
  options.layerGroup = '${layerGroup}';
% endif

%if visible:
  options.visible = "${visible}"; 
% endif

%if hidefromlayerswitcher:
  options.hideFromLayerSwitcher = "${hidefromlayerswitcher}"; 
% endif

% if cluster:
  options.cluster = true;
% endif

% if styleName:
  options.styleName = '${styleName}';
% endif

% if label:
  options.label = '${label}';
% endif

% if styleNameSLD:
  options.styleNameSLD = '${styleNameSLD}';
% endif

%if epsgCode:
  options.epsgCode = '${epsgCode}';
% endif

%if popup:
  options.popupConfig = ${popup};
% endif

  NK.addLayerType.geoJSONFile('${id}', '${name}', '${url}', options);
}());
