      var icaoStyle = new OpenLayers.StyleMap({
        'default': new OpenLayers.Style({
          strokeWidth: 1,
          strokeColor  : "#484",
          fillOpacity: 0, 
          graphicZIndex: 0,

          label : "${'${CEILING}\\n${NAME}'}",
          fontColor: "#8a8",
          fontSize: "12px",
          fontFamily: "Courier New, monospace",
          fontWeight: "bold",
          labelAlign: "cm",
          labelOutlineColor: "white",
          labelOutlineWidth: 5

      }, {
          rules: [
            new OpenLayers.Rule({
              maxScaleDenominator: 1000000,
              symbolizer: {
                label : "${'${CEILING}\\n${NAME}'}"
              }
            }),
            new OpenLayers.Rule({
              minScaleDenominator: 1000000,
              maxScaleDenominator: 5000000,
              symbolizer: {
                label : "${"${CEILING}"}"
              }
            }),
            new OpenLayers.Rule({
              minScaleDenominator: 5000000,
              symbolizer: {
                label : ""
              }
            }),
            new OpenLayers.Rule({
              filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.LIKE,
                property: "NAME",
                value: "CTR"
              }),
              symbolizer: {
                strokeWidth: 2,
                strokeColor : "#448",
                fillColor   : "#004",
                fillOpacity : 0
              }
            }),
            new OpenLayers.Rule({
              filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.LIKE,
                property: "NAME",
                value: "CTA"
              }),
              symbolizer: {
                strokeWidth: 3,
                strokeColor : "#864",
                fillColor   : "#420",
                fillOpacity : 0
              }
            }),
            new OpenLayers.Rule({
              filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.LIKE,
                property: "NAME",
                value: "TMA"
              }),
              symbolizer: {
                strokeWidth: 2,
                strokeColor : "#886",
                fillColor   : "#442",
                fillOpacity : 0
              }
            }),
            new OpenLayers.Rule({
              filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.LIKE,
                property: "NAME",
                value: "TIZ"
              }),
              symbolizer: {
                strokeWidth: 1,
                strokeColor : "#44a",
                fillColor   : "#226",
                fillOpacity : 0.2
              }
            }),
            new OpenLayers.Rule({
              filter: new OpenLayers.Filter.Comparison({
                type: OpenLayers.Filter.Comparison.LIKE,
                property: "NAME",
                value: "TIA"
              }),
              symbolizer: {
                strokeWidth: 1,
                strokeColor : "#daa",
                fillColor   : "#daa",
                fillOpacity : 0.2
              }
            })
          ]
      }),
        'temporary': {
          strokeWidth: 3,
          strokeColor  : "#ada",
          fontColor: "#ada",
          graphicZIndex: 1,
          fillOpacity: 0.1}
      });
     

      var icaolayer = new OpenLayers.Layer.Vector("ICAO luftrom",
                                {shortid: "luftrom", styleMap: icaoStyle, visibility: ${visible} });

      var handler = function(request) {
        var geojson_format = new OpenLayers.Format.GeoJSON({
          'internalProjection': mapProj,
          'externalProjection': proj['4326'] 
        });
        var features = geojson_format.read(request.responseText);
        for (key in features) {
          var feature=features[key];
          feature.attributes.CEILING = feature.attributes.CEILING.split(" ")[0];
          feature.fid = feature.attributes['NAME']
        }
        features = features.sort(function(a,b){return b.geometry.getArea()-a.geometry.getArea()}); // vrfy: sort by area, smallest polygons on top
        icaolayer.addFeatures(features);
      }

      var request = OpenLayers.Request.GET({
        url: "/json/icao.json",
        callback: handler
      });

      map.addLayer(icaolayer);

      var icao_highlightAllById = function(element) {
        // highlight all elements with the same element.feature.fid;
        var ident = icaolayer.getFeaturesByFid (element.feature.fid) ;
        $.each(ident, function(i, feature) {
          feature.renderIntent="temporary";
          icaolayer.drawFeature(feature);
        });
      };
      var icao_unhighlightAllById = function(element) {
        // un-highlight all elements with the same element.feature.fid;
        var ident = icaolayer.getFeaturesByFid (element.feature.fid) ;
        $.each(ident, function(i, feature) {
          feature.renderIntent="default";
          icaolayer.drawFeature(feature);
        });
      };
      var icao_info = function(feature) {
        var ceil = feature.attributes.CEILING.split(" ")[0];
        alert(ceil + "\n" + feature.attributes.NAME);
      }

      var highlightDekningCtrl = new OpenLayers.Control.SelectFeature(icaolayer, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary",
                eventListeners: {
                    beforefeaturehighlighted: icao_highlightAllById,
                    featureunhighlighted: icao_unhighlightAllById
                }
            });
      var selectDekningCtrl = new OpenLayers.Control.SelectFeature(icaolayer, {
         clickFeature: icao_info          
      });

      map.addControl(highlightDekningCtrl);
      highlightDekningCtrl.activate();
      map.addControl(selectDekningCtrl);
      selectDekningCtrl.activate();
