<%include file="/functions/vector.html" />

var format = new OpenLayers.Format.SLD();

strTFS = new OpenLayers.Strategy.TFS({
  resFactor: 1, 
  ratio: 1, 
  mapBounds: mapBounds,
  format: new OpenLayers.Format.GeoJSON()
});

st2TFS = new OpenLayers.Strategy.TFS({
  resFactor: 1, 
  ratio: 1, 
  mapBounds: mapBounds, 
  format: new OpenLayers.Format.GeoJSON()
});

prtTFS = new OpenLayers.Protocol.TFS({ 
  url: "/stache/kd_nmg",
  last: false,
  format: new OpenLayers.Format.GeoJSON()
});

pr2TFS = new OpenLayers.Protocol.TFS({
  url: "/stache/kd_nmg_line",
  last: false,
  format: new OpenLayers.Format.GeoJSON()
}); 

nmgrLayer = new OpenLayers.Layer.Vector(
  "Norges maritime grenser",
  {
    shortid: "grenser.maritime",
    strategies: [strTFS],
    protocol:prtTFS,
    projection: mapProj,
    visibility: ${visible}
  }
);

nmgrLayer.setOpacity(0.8);

nmglLayer = new OpenLayers.Layer.Vector(
  "Maritime grenser (linje)",
  {
    shortid: "grenser.maritime.line",
    strategies: [st2TFS],
    protocol:pr2TFS,
    projection: mapProj,
    displayInLayerSwitcher: false,
    visibility: ${visible}
  }
);

map.events.on({
  "changelayer": function () { 
    nmglLayer.setVisibility(nmgrLayer.getVisibility()) 
  }
});

map.addLayers([nmgrLayer,nmglLayer]);

var featureTranslate = {
  'DSO':['DSO'], //graae
  'Landareal':['med','Spitsbergen','Edge','Nordaust','Kvit','Kong Karl','Hopen','Bj&oslash;rn','Jan Mayen','Prins Karl','Svalbard'], //oransje
  'Sjoterritorium':['territorium'], //rose
  'Tilstotende_sone':['Indre farvann'], //lysbla
  'Norges_okonomiske_sone':['konomiske sone','tende sone'], //darkblaa
  'Fiskevernsonen_ved_Svalbard':['sonen ved Svalbard'], //midblaa
  'Fiskerisonen_ved_Jan_Mayen':['sonen ved Jan Mayen'], //midblaa
  'Internasjonalt_farvann':['Smutt'], //groenn

  'avgrensningslinje_for_sokkel':['avgrensningslinje'], //groenn, dash
  'Sokkelgrense':['Yttergrense'], //groenn, cont
  '200_nautiske_mil':['nautiske mil'], //blaa, cont
  'Avtalt_avgrensningslinje':[], //blaa, cont
  'Yttergrense_for_tilstotend_sone':[], //blaa, tynn
  'Territorialgrense':['Territorialgrense'], //blaa, tykk
  'Grunnlinje':['Grunnlinje'] //blaa, tynn
}

function setLayerStyles() {
  styleMap = new OpenLayers.StyleMap({'default':new OpenLayers.Style(),'temporary':new OpenLayers.Style({
    fillColor  : "#fe8",
    graphicZIndex: 1,
    fillOpacity: 1 
  })});

  for (var featureName in sld.namedLayers) {
    var styles = sld.namedLayers[featureName].userStyles, style;
    style = styles[0];
    for (var i in featureTranslate[featureName]) {
      styleMap.styles["default"].rules.push( 
        new OpenLayers.Rule({
            filter: new OpenLayers.Filter.Comparison({
              type: OpenLayers.Filter.Comparison.LIKE,
              property: "n",
              value: featureTranslate[featureName][i]
            }),
            symbolizer: style.rules[0].symbolizer
        })
      );
    }
  }

  nmgrLayer.styleMap = styleMap;
  nmglLayer.styleMap = styleMap;
}

OpenLayers.Request.GET({
  url: "http://labs.kartverket.no/sld/NMG.xml",
  success: function (req) {
    sld = format.read(req.responseXML || req.responseText);
    setLayerStyles();
  } 
});

nmgr_info = function (feature) {
  alert(feature.attributes['n'] + "\n" + feature.attributes['o']);
};

NK.functions.vector.addVectorControls(map, nmgrLayer, nmgr_info);
//NK.functions.vector.addVectorControls(map, nmglLayer, nmgr_info);

