(function () {
  var wms = new OpenLayers.Layer.WMS(
    "${name}",
    "${url}",
    {
      % if usetoken:
      gkt: NK.gkToken,
      % endif    
      layers: "${layers}", 
      transparent: ${transparent}, 
  % if styles:
      styles: "${styles}",
  % endif
      format: '${format}'
    },
    {
      shortid: "${id}", 
      isBaseLayer: false,
      buffer: 0,
      ratio: 1, 
      visibility: ${visible}, 
  % if singleTile:
      singleTile: true,
  % else:
      singleTile: false,
  % endif
  % if minZoom:
      minZoom: ${minZoom},
  % endif
  % if wmsService:
      wmsService: "${wmsService}",
      layer: "${layers}", 
  % endif
  % if wmsLayers:
      wmsLayers: "${wmsLayers}",
  % endif

      transitionEffect: 'resize'
    }
  );

  % if layerGroup:
    wms = OpenLayers.Util.extend(wms, { layerGroup: '${layerGroup}' });
  % endif

  % if hidefromlayerswitcher:
    wms["displayInLayerSwitcher"] = false;
  % endif


  if (wms.params.GKT) {
    wms.params.gkt = wms.params.GKT;
    delete wms.params.GKT; 
  }
  map.addLayers([wms]);
}());
