(function () {
  var options = {};
  var wms = new OpenLayers.Layer.WMS(
    "${name}",
    "${url}",
    {
      % if usetoken:
      gkt: NK.gkToken,
      % endif    
      layers: "${layers}", 
      transparent: ${transparent},
      format: "${format}", 
      noMagic: true
    },
    {
      shortid: "${id}", 
      isBaseLayer: false,
      buffer: 0,
      ratio: 1,
      visibility: ${visible}, 
      transitionEffect: 'resize',
  % if singleTile:
      singleTile: true,
  % else:
      singleTile: false,
  % endif
      attribution: {
       'title':"${attribution}"
      },
      description: "${abstract}"
    }
  );

  % if layerGroup:
    wms = OpenLayers.Util.extend(wms, { layerGroup: '${layerGroup}' });
  % endif

  if (wms.params.GKT) {
    wms.params.gkt = wms.params.GKT;
    delete wms.params.GKT; 
  }

  map.addLayers([wms]);
}());
