(function (M, MP) {
  var matrixIds,
      wmts,
      i;

  matrixIds = [];

  for (i = 0; i <= 18; ++i) {
    matrixIds[i] = {};
    matrixIds[i].identifier = MP + ":" + i;
  } 

  wmts = new OpenLayers.Layer.WMTS({
    name: "${name}",
    % if url:
    url: "${url}",
    % else:
    url: NK.mapservers.wmts,
    % endif
    layer: "${layer}",
    matrixSet: MP,
    matrixIds: matrixIds,
    format: "image/png",
    requestEncoding: "kvp",
    style: "default",
    shortid: "${id}", 
    isBaseLayer: false, 
    visibility:
% if visible:
    1,
% else:
    0,
% endif
    transitionEffect: 'resize'
    % if usetoken:
    ,
    params: {
      gkt: NK.gkToken
    }
    % endif
  });
  if (wmts.params.GKT) {
    wmts.params.gkt = wmts.params.GKT;
    delete wmts.params.GKT; 
  }

% if visible:
  NK.defaultVisibleLayers = NK.defaultVisibleLayers || [];
  NK.defaultVisibleLayers.push('$id');
% endif

  wmts.events.register("tileerror", wmts, function(arg) {
    NK.functions.getNewToken();
  });

  M.addLayers([wmts]);
}(map, mapProj));