       var matrixIds = new Array(18);
       for (var i=0; i<=18; ++i) {
         matrixIds[i] = new Object();
         matrixIds[i].identifier = mapProj + ":" + i;
       } 
	  
       var wmts = new OpenLayers.Layer.WMTS({
         name: "${name}",
         url: "${url}",
         layer: "${layer}",
         matrixSet: mapProj,
         matrixIds: matrixIds,
         format: "image/png",
         requestEncoding: "kvp",
         style: "default",
         shortid: "${id}", 
         isBaseLayer: false, 
         visibility: ${visible}, 
         transitionEffect: 'resize',
       });   

    map.addLayers([wmts]);
