(function (M, MP) {
  var matrixIds,
      wmts,
      i;

  matrixIds = [];

  for (i = 0; i <= 18; ++i) {
    matrixIds[i] = {};
    matrixIds[i].identifier = MP + ":" + i;
  } 

  wmts = new OpenLayers.Layer.WMTS({
    name: "${name}",
    url: "${url}",
    layer: "${layer}",
    matrixSet: MP,
    matrixIds: matrixIds,
    format: "image/png",
    requestEncoding: "kvp",
    style: "default",
    shortid: "${id}", 
    isBaseLayer: false, 
    visibility: ${visible}, 
    transitionEffect: 'resize'
  });   

  M.addLayers([wmts]);
}(map, mapProj));