% if not 'layerTypeWMTS' in vars:

NK.addLayerType = NK.addLayerType || {};
NK.addLayerType.WMTS = (function (M, MP) {
  var matrixIds = [],
      i;

  for (i = 0; i <= NK.zoomLevels; ++i) {
    matrixIds[i] = {};
    matrixIds[i].identifier = MP + ":" + i;
  } 

  return function (id, name, url, layer, options) {
    var layer, 
        layerOptions;
    var myMatrixIds = matrixIds;

    if (!!options.customProj) {
      var myMatrixIds = [],
        i;

      for (i = 0; i <= NK.zoomLevels; ++i) {
        myMatrixIds[i] = {};
        if (!!options.shortMatrixIds) {
          myMatrixIds[i].identifier = "" + i;
        } else {
          myMatrixIds[i].identifier = options.customProj + ":" + i;
        }
      } 
    } 

    layerOptions = {
      'name': name,
      'url': url,
      'layer': layer,
      'matrixSet': options.customProj || MP,
      'matrixIds': myMatrixIds,
      'format': "image/png",
      'requestEncoding': "kvp",
      'style': "default",
      'shortid': id, 
      'crossOrigin': 'anonymous', 
      'isBaseLayer': false,
      'linkedTo': options.linkedTo || null,
      'transitionEffect': 'resize',
      'displayOutsideMaxExtent': false,
      'buffer': 1
    };

    if (!!options.attribution) {
      layerOptions['attribution'] = options.attribution;
    }
    if (!!options.extent) {
      var c = options.extent.split(",");
      var customBounds = new OpenLayers.Bounds(c);
      layerOptions['tileFullExtent'] = customBounds;
    }
    if (!!options.tileorigin) {
      var c = options.tileorigin.split(",");
      var origin = new OpenLayers.LonLat(c);
      layerOptions['tileOrigin'] = origin;
    }
    if (!!options.databbox) {
      var c = options.databbox.split(",");
      var customBounds = new OpenLayers.Bounds(c);
      layerOptions['maxExtent'] = customBounds;
      layerOptions['visibility'] = 1;
    }

    layerOptions.displayInLayerSwitcher = !!(options.displayInLayerSwitcher) ? 1 : 0;
    layerOptions.visibility = !!(options.visibility) ? 1 : 0;

    if (!!options.params) {
      layerOptions.params = options.params;
    }

    layer = new OpenLayers.Layer.WMTS(layerOptions);

    if (options.layerGroup) {
      layer = OpenLayers.Util.extend(layer, {
        'layerGroup': options.layerGroup
      });
    }

    if (layer.params.GKT) {
      layer.params.gkt = layer.params.GKT;
      delete layer.params.GKT; 
    }

    if (options.visible) {
      NK.defaultVisibleLayers = NK.defaultVisibleLayers || [];
      NK.defaultVisibleLayers.push(id);
    }

    if (options.linkedTo) {
      layer.events.register("visibilitychanged", layer, function(arg) {
        map.getLayersBy("shortid",options.linkedTo)[0].setVisibility(layer.getVisibility());
      });
    }

    layer.events.register("tileerror", layer, function(arg) {
      NK.functions.getNewToken();
    });

    M.addLayers([layer]);

    return layer;
  };
}(map, mapProj));

<% vars['layerTypeWMTS']=True %>
% endif

(function () {
  var url, 
      options = {};

  % if url:
    url = "${url}";
  % else:
    url = NK.mapservers.wmts;
  % endif

  % if hidefromlayerswitcher:
    options.displayInLayerSwitcher = false;
  % else:
    options.displayInLayerSwitcher = true;
  % endif

  % if visible:
    options.visibility = true;
  % endif

  % if layerGroup:
    options.layerGroup = "${layerGroup}";
  % endif

  % if usetoken:
    options.params = { 'gkt': NK.gkToken };
  % endif

  % if epsg:
    options.customProj = "${epsg}"
  % endif

  % if shortMatrixIds:
    options.shortMatrixIds = true
  % endif

  % if extent:
    options.extent = "${extent}"
  % endif

  % if databbox:
    options.databbox = "${databbox}"
  % endif

  % if tileorigin:
    options.tileorigin = "${tileorigin}"
  % endif

  % if linkedTo:
    options.linkedTo = "${linkedTo}"
  % endif

  % if attribution:
    options.attribution = {
      title: "Kartverket",
      href: "http://www.kartverket.no/"
    }
  % endif

  var layer = NK.addLayerType.WMTS('${id}', '${name}', url, '${layer}', options);

  % if onZoom:
    ${onZoom}
  % endif
}());
