% if not 'layerTypeWMTS' in vars:

NK.addLayerType = NK.addLayerType || {};
NK.addLayerType.WMTS = (function (M, MP) {
  var matrixIds = [],
      i;

  for (i = 0; i <= NK.zoomLevels; ++i) {
    matrixIds[i] = {};
    matrixIds[i].identifier = MP + ":" + i;
  } 

  return function (id, name, url, layer, options) {
    var layer, 
        layerOptions;

    layerOptions = {
      'name': name,
      'url': url,
      'layer': layer,
      'matrixSet': MP,
      'matrixIds': matrixIds,
      'format': "image/png",
      'requestEncoding': "kvp",
      'style': "default",
      'shortid': id, 
      'isBaseLayer': false,
      'transitionEffect': 'resize'
    };

    layerOptions.displayInLayerSwitcher = !!(options.displayInLayerSwitcher) ? 1 : 0;
    layerOptions.visibility = !!(options.visibility) ? 1 : 0;

    if (options.params) {
      layerOptions.params = options.params;
    }

    layer = new OpenLayers.Layer.WMTS(layerOptions);

    if (options.layerGroup) {
      layer = OpenLayers.Util.extend(layer, {
        'layerGroup': options.layerGroup
      });
    }

    if (layer.params.GKT) {
      layer.params.gkt = layer.params.GKT;
      delete layer.params.GKT; 
    }

    if (options.visible) {
      NK.defaultVisibleLayers = NK.defaultVisibleLayers || [];
      NK.defaultVisibleLayers.push(id);
    }

    layer.events.register("tileerror", layer, function(arg) {
      NK.functions.getNewToken();
    });

    M.addLayers([layer]);
  };
}(map, mapProj));

<% vars['layerTypeWMTS']=True %>
% endif

(function () {
  var url, 
      options = {};

  % if url:
    url = "${url}";
  % else:
    url = NK.mapservers.wmts;
  % endif

  % if hidefromlayerswitcher:
    options.displayInLayerSwitcher = false;
  % else:
    options.displayInLayerSwitcher = true;
  % endif

  % if visible:
    options.visibility = true;
  % endif

  % if layerGroup:
    options.layerGroup = "${layerGroup}";
  % endif

  % if usetoken:
    options.params = { 'gkt': NK.gkToken };
  % endif

  NK.addLayerType.WMTS('${id}', '${name}', url, '${layer}', options);
}());