(function (context, containerParam) {
	var parentContainer = document.body,
		className = "toolbar",
		container;

	// set parentContainer if divControllerContainer is set
	if (containerParam) {
		parentContainer = containerParam;
		className = "panel";
	}
	
	container = document.createElement("div");

	% if id:
	container.id = "${id}";
	% endif

	% if name:
	var header = document.createElement("span");
	header.className = "panel-name";
	header.innerHTML = "${name}";
	container.appendChild(header);
	% endif


	container.className = className;
	parentContainer.appendChild(container); 

	% if controls:
	${controls}
	% endif
}(controlContext, container));
