<%doc>
description: include a container panel, that can group other buttons and menus
params:
  className: css class for styling this panel
  id: html id for this element
  name: header displayed at the top of this panel (optional)
  svgIcon: Icon displayed next to the header of this panel (optional)
  controls: list of controls to be included in this panel (optional)
</%doc>
(function (context, containerParam) {
	var parentContainer = document.body,
		className = "toolbar",
		container;
% if className:
	className = "${className} toolbar";
% endif	

	// set parentContainer if divControllerContainer is set
	if (containerParam) {
		parentContainer = containerParam;
		className = "panel";
% if className:
	className = "${className} panel";
% endif	

	}
	
	container = document.createElement("div");

	% if id:
	container.id = "${id}";
	% endif


	% if name:
		% if toggleButton:
			var header = document.createElement("button");
		% else:
			var header = document.createElement("div");
		% endif

		header.className = "panel-name";
		var name = document.createElement('span');
		name.innerHTML = OpenLayers.Lang.translate("${name}");

		% if svgIcon:
			header.innerHTML = OpenLayers.Util.hideFromOldIE('${svgIcon}');
		%endif

		header.appendChild(name);
		container.appendChild(header);
		OpenLayers.Event.observe(header, 'click', OpenLayers.Function.bind(function (evt) {
			if (OpenLayers.Element.hasClass(this,'minified')) {
				OpenLayers.Element.removeClass(this, 'minified');
			} else {
				OpenLayers.Element.addClass(this, 'minified');
			}	
		}, container));
	% endif


	container.className = className;
	parentContainer.appendChild(container); 

	% if controls:
	${controls}
	% endif
}(controlContext, container));
