// store the initial layer visibility configuration
      initLayers = [];
      for (i in map.layers) {
        var layer = map.layers[i];
        if (layer.visibility) {
          initLayers.push(layer.name);
        }
      }

// adjust layer visibility and pan/zoom based on hash, if available
      var state = window.location.hash;
      if (!!state) {
        parms = state.slice(1).split("/");
        zoom = parms[0];
        mapx = parms[1];
        mapy = parms[2];
        for (var index=3; index<parms.length; index++) {
          var extra=parms[index];
          if (extra[0]=='+') {
            for (var i=0; i<map.layers.length; i++) {
              var layer = map.layers[i];
              if (layer.name==extra.slice(1)) layer.setVisibility(true);
            } 
          } else 
          if (extra[0]=='-') {
            for (var i=0; i<map.layers.length; i++) {
              var layer = map.layers[i];
              if (layer.name==extra.slice(1)) layer.setVisibility(false);
            } 
          } else 
          if (extra[0]=='!') {
            var select = extra.slice(1).split(".");
            var layers = map.getLayersByName(select[0]);
            if (layers.length == 1) {
              var layer = layers[0];
         
              /* set a new renderer rule to highlight elements with the given name */
              layer.styleMap.styles.default.addRules([
                new OpenLayers.Rule({
                  filter: new OpenLayers.Filter.FeatureId({
                    fids: [select[1]]
                  }),
                  symbolizer: {
                    strokeWidth: 3,
                    strokeColor : "orange",
                    graphicZIndex: 100
                  }
                }),
                new OpenLayers.Rule({
                  elseFilter: true,
                  symbolizer: {} //defaults 
                })
              ]); 
              layer.styleMap.styles.temporary.addRules([
                new OpenLayers.Rule({
                  filter: new OpenLayers.Filter.FeatureId({
                    fids: [select[1]]
                  }),
                  symbolizer: {
                    strokeWidth: 3,
                    strokeColor: "yellow",
                    fillColor  : "orange",
                    graphicZIndex: 100
                  }
                }),
                new OpenLayers.Rule({
                  elseFilter: true,
                  symbolizer: {} //defaults 
                })
              ]); 
            }
          }
        }
        map.setCenter(new OpenLayers.LonLat(mapx, mapy),zoom);
      }


