// store the initial layer visibility configuration
      initLayers = [];
      for (i in map.layers) {
        var layer = map.layers[i];
        if (layer.visibility) {
          initLayers.push(layer.shortid);
        }
      }

// adjust layer visibility and pan/zoom based on hash, if available
      var state = window.location.hash;
      if (!!state) {
        parms = state.slice(1).split("/");
        zoom = parms[0];
        mapx = parms[1];
        mapy = parms[2];
        if ((mapy > 0) && (mapy < 35) && (mapx > 50) && (mapx < 90)) {  /* we are dealing with WSG84 coordinates here */
          var pWSG84 = new Proj4js.Proj('EPSG:4326');   
          var pUTM33 = new Proj4js.Proj('EPSG:32633');   
          var xy = Proj4js.transform(pWSG84, pUTM33, new Proj4js.Point(mapy, mapx));
          mapx = xy.x;
          mapy = xy.y;
        }
        for (var index=3; index<parms.length; index++) {
          var extra=parms[index];
          if (extra.charAt(0)=='+') {
            for (var i=0; i<map.layers.length; i++) {
              var layer = map.layers[i];
              if (layer.shortid==extra.slice(1)) layer.setVisibility(true);
            } 
          } else 
          if (extra.charAt(0)=='-') {
            for (var i=0; i<map.layers.length; i++) {
              var layer = map.layers[i];
              if (layer.shortid==extra.slice(1)) layer.setVisibility(false);
            } 
          } else 
          if (extra.charAt(0)=='w') {
            for (var i=1;i<extra.length; i++) {
              if (extra.charAt(i)=='L') {
                layer_sw.maximizeControl();
              } else
              if (extra.charAt(i)=='l') {
                map.removeControl(layer_sw);
              } else
              if (extra.charAt(i)=='H') {
                legend.maximizeControl();
              } else
              if (extra.charAt(i)=='h') {
                map.removeControl(legend);
              } else
              if (extra.charAt(i)=='z') {
                map.removeControl(zoomCtrl);
              } else
              if (extra.charAt(i)=='n') {
                nav.deactivate();
                knav.deactivate();
              } else
              if (extra.charAt(i)=='M') {
                var markers = new OpenLayers.Layer.Markers("Mark&oslash;rer",{shortid:"poi"});
                markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(mapx, mapy)));
                map.addLayer(markers);
              }
            }
          } else 
          if (extra.charAt(0)=='!') {
            var select = extra.slice(1).split("!");
            var layers = map.getBy("layers", "shortid", select[0]);
            if (layers.length==1) {
              var layer = layers[0];
         
              /* set a new renderer rule to highlight elements with the given name */
              layer.styleMap.styles['default'].addRules([
                new OpenLayers.Rule({
                  filter: new OpenLayers.Filter.FeatureId({
                    fids: [select[1]]
                  }),
                  symbolizer: {
                    strokeWidth: 3,
                    strokeColor : "orange",
                    graphicZIndex: 2,
                    fillColor : "orange",
                    fillOpacity: 0.1
                  }
                }),
                new OpenLayers.Rule({
                  elseFilter: true,
                  symbolizer: {} //defaults 
                })
              ]); 
              layer.styleMap.styles['temporary'].addRules([
                new OpenLayers.Rule({
                  filter: new OpenLayers.Filter.FeatureId({
                    fids: [select[1]]
                  }),
                  symbolizer: {
                    strokeWidth: 3,
                    strokeColor: "yellow",
                    fillColor  : "orange",
                    fillOpacity: 0.2,
                    graphicZIndex: 100
                  }
                }),
                new OpenLayers.Rule({
                  elseFilter: true,
                  symbolizer: {} //defaults 
                })
              ]); 
            }
          }
        }
        map.setCenter(new OpenLayers.LonLat(mapx, mapy),zoom);
      }


