<%doc>
description: include the OpenLayers elevation profile control
params:
  heightProfileServiceUrl: URL of the elevation profile WPS service
  gpxStorageUrl: where to store uploaded GPX files (web service)
  trackStyleName: which style to use to display GPX or hand drawn tracks
  predefinedGpxFiles: a list of GPX files to display as examples
</%doc>
<%inherit file="/controls/controlcontext.html" />

% if heightProfileServiceUrl:
options.heightProfileServiceUrl = '${heightProfileServiceUrl}';
% endif

% if gpxStorageUrl:
options.gpxStorageUrl = '${gpxStorageUrl}';
% endif

% if trackStyleName:
	var trackStyleName = '${trackStyleName}';
	if (NK.styles && NK.styles[trackStyleName]) {
		options.trackStyleMap = NK.styles[trackStyleName];
	}
% endif

% if predefinedGpxFiles:
	${predefinedGpxFiles}
% endif

var control = new OpenLayers.Control.HeightProfile(options);
NK.functions.addControlToContext(control, context);
