(function (context, containerParam, collect) {

  var html = '<li class="dropdown">';
      html += '<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sj&aring; andre karttenester <span class="caret"></span></a>';
        html += '<ul class="dropdown-menu" role="menu">';
        html += '<li><a href="http://norgeskart.no/" target="_self">Noregskart</a></li>';
        html += '<li role="presentation" class="divider"></li>';
        html += '<li><a href="http://norgeskart.no/ssr" target="_self">Stadnamn </a></li>';
        html += '<li><a href="http://norgeskart.no/tilgjengelighet" target="_self">Tilgjenge</a></li>';
        html += '<li><a href="http://norgeskart.no/nrl" target="_self">Luftfartshinder (NRL)</a></li>';
        html += '<li><a href="http://norgeskart.no/fastmerker" target="_self">Fastmerke</a></li>';
      html += '</ul>';
      html += '</li>';

  collect.innerHTML = html;

}(controlContext, container, collect));
