<%inherit file="/controls/controlcontext.html" />

NK.functions.addControlToContext(new OpenLayers.Control.Navigation(options), context);
NK.functions.addControlToContext(new OpenLayers.Control.ScaleLine(options), context);
NK.functions.addControlToContext(new OpenLayers.Control.KeyboardDefaults(options), context);
NK.functions.addControlToContext(new OpenLayers.Control.MousePosition({
	draw: function() {
		return this.div;
	}, 
	redraw: function(evt) {
		if (evt) {
			this.lastXy = evt.xy;
		}
	}
}), context);
