<%inherit file="/controls/controlcontext.html" />

<%include file="/functions/vector.html" />
<%include file="/styles/omriss.html" />
OpenLayers.Util.extend(OpenLayers.Lang.nb, {
  'Show big overview map': 'Vis stort oversiktskart',
  'Show small overview map': 'Vis lite oversiktskart'
});

(function (M, MP, P) {
  var layer,
      requestHandler,
      control,
      detailedLayer;

  var norgeExtent = new OpenLayers.Bounds(-76856, 6453900, 1114892, 7939873);

  layer = new OpenLayers.Layer.Vector(
    "${name}",
    {
      shortid: "${id}", 
      styleMap: NK.styles.omriss, 
      visibility: true
    }
  );

  requestHandler = function (request) {
    var geojson_format,
        features;

    geojson_format = new OpenLayers.Format.GeoJSON({
      'internalProjection': MP,
      'externalProjection': P['32633'] 
    });


    features = geojson_format.read(request.responseText);

    layer.addFeatures(features);

% if detailedLayer:
    for (i = 0, j = M.layers.length; i < j; i += 1) {
      if (M.layers[i].shortid && M.layers[i].shortid === '${detailedLayer}') {
        detailedLayer = M.layers[i].clone();
        break;
      }
    }
% endif

  	options.maximized = false;
  	options.maximizeTitle = OpenLayers.Lang.translate('Show big overview map');
  	options.minimizeTitle = OpenLayers.Lang.translate('Show small overview map');
    options.minRatio = 32;
    options.maxRatio = 32;
    options.size = {w: 80, h: 90};
    options.autoPan = true;
    options.minRectSize = 5;

    options.mapOptions = OpenLayers.Util.extend(NK.mapOptions, {
      numZoomLevels: NK.zoomLevels,
      restrictedExtent: norgeExtent,
      controls: [],
      baseLayer: layer
    });

    if (detailedLayer) {
      options.layers = [layer, detailedLayer];
    } else {
      options.layers = [layer];
    }

    control = new OpenLayers.Control.OverviewMapExpandable(options);
  	NK.functions.addControlToContext(control, context);

  };

  OpenLayers.Request.GET({
    url: "${url}",
    callback: requestHandler
  });

}(map, mapProj, proj));

