<%doc>
description: include a RasterOverlayLayerSwitcher type of menu in the map client
params:
  group: layers in this layerGroup will be included in the menu
</%doc>  
<%inherit file="/controls/controlcontext.html" />
% if group:
	options.layerGroup = "${group}";
% endif

var control = new OpenLayers.Control.RasterOverlayLayerSwitcher(options);
NK.functions.addControlToContext(control, context);

if (NK.functions.updateHistory) {
	control.events.register("buttonclick", NK.functions.updateHistory);
}
