<%doc>
description: include the OpenLayers Search control
params:
  coordinates: URL for the coordinate transformation service (disused)
  searchUrl:   URL for the place name web service
  streetAddressesSearchUrl: URL for retrieving street names 
  addressSearchUrl: URL for retrieving house addresses and numbers
  propertySearchUrl: URL for retrieving property information 
</%doc>
<%inherit file="/controls/controlcontext.html" />
% if coordinates:
        options.coordinates = "${coordinates}";
% endif
% if searchUrl:
        options.searchUrl = "${searchUrl}";
% endif
% if streetAddressesSearchUrl:
        options.streetAddressesSearchUrl = "${streetAddressesSearchUrl}";
% endif
% if addressSearchUrl:
        options.addressSearchUrl = "${addressSearchUrl}";
% endif
% if propertySearchUrl:
        options.propertySearchUrl = "${propertySearchUrl}";
% endif
NK.functions.addControlToContext(new OpenLayers.Control.Search(options), context);
