<%inherit file="/controls/controlcontext.html" />
% if coordinates:
        options.coordinates = "${coordinates}";
% endif
% if searchUrl:
        options.searchUrl = "${searchUrl}";
% endif
% if streetAddressesSearchUrl:
        options.streetAddressesSearchUrl = "${streetAddressesSearchUrl}";
% endif
% if addressSearchUrl:
        options.addressSearchUrl = "${addressSearchUrl}";
% endif
% if propertySearchUrl:
        options.propertySearchUrl = "${propertySearchUrl}";
% endif
% if keyboardHelper:
        options.keyboardHelper = true;
% endif
NK.functions.addControlToContext(new OpenLayers.Control.Search(options), context);
